[2018-01-25 20:20] rhamilto commented on #2661
These values are actually 41px and 18px.  I'm guessing you took a screenshot on your retina monitor and measured from it since the values are exactly doubled?

[2018-01-25 20:25] beanh66 commented on #2661
@rhamilto I'll defer to @jennyhaines on the values. Thanks for checking on it though!

Per the comment above, I would rather us be consistent with the behavior so force the user to close a modal. If we don't want to force that action and this is a case where it's simply informative content, we could consider using the modaless overlay panel pattern here instead.

[2018-01-25 20:31] sg00dwin commented on #2661
@beanh66 After talking with @rhamilto there are 2 use cases above where it seems that allowing a "background click" to close the modal would be appropriate and we wanted to get your thoughts.

[Inactivity session logout](https://user-images.githubusercontent.com/18057044/35409366-fa5b3b94-01df-11e8-8132-af900f4d6739.png) and the [What's a Jenkinsfile](https://user-images.githubusercontent.com/1805

[2018-01-25 20:43] jennyhaines commented on #2661
@rhamilto - I think I did just that with measuring spacing! Here are the edited guidelines:

All modals should include:

- a light grey header bar: 41px tall, and pf-black-150 (#f5f5f5) background color
- a title: 13px, 700 weight, spaced 18px from left edge and centered vertically
- an “X” to close the modal: “pficon-close”, 18px, #626262 default color, #191919 hover color, spaced 18px from right

[2018-01-25 20:43] jennyhaines commented on #2661
@beanh66 , FYI ^

[2018-01-25 22:34] beanh66 commented on #2661
@sg00dwin I totally agree on the inactivity modal since a click anywhere should keep the user active. As far as the Jenkinsfile, we have an open story to improve the help throughout OpenShift anyways, so if it makes more sense, you can leave it as is and we can revisit it with the follow-up help story. I know there are others like this such as the "What are millicores" or "What are MiBs" links.

[2018-01-26 00:44] #2659 closed

[2018-01-26 17:43] spadgett commented on #2664
I think this is very minor now. I'm just going to close.

/close

[2018-01-26 17:43] #2664 closed

[2018-01-26 18:03] ncameronbritt opened #2722 "Edit project popover doesn't point to the kebab"
![screen shot 2018-01-26 at 12 52 00 pm](https://user-images.githubusercontent.com/8974593/35453476-54a7965c-0298-11e8-9061-f3212eec18ab.png)

It happens to me regardless of screen width.

[2018-01-26 18:14] spadgett commented on #2722
/kind bug
/priority p3
/area styles
/assign @sg00dwin @rhamilto

Looks like the same problem as #2684.

[2018-01-26 18:26] spadgett opened #2723 "Stateful sets can be scaled from overview but not stateful set page"
We should be consistent. I'm not sure there's a reason any longer to keep users from scaling them.

/assign @benjaminapetersen
/kind bug
/priority p2

@jwforres FYI

[2018-01-26 19:07] spadgett opened #2724 "Can't see links when highlighted in logs"
![screen shot 2018-01-26 at 2 06 26 pm](https://user-images.githubusercontent.com/1167259/35456041-3aff986c-02a2-11e8-9d38-cfd345f6919c.png)

![screen shot 2018-01-26 at 2 06 30 pm](https://user-images.githubusercontent.com/1167259/35456043-3c3fee2a-02a2-11e8-9781-f1f82ee7a172.png)

/kind bug
/priority p2
/area styles
/assign @sg00dwin @rhamilto

[2018-01-26 19:08] beanh66 opened #2725 "Change Create Project and Edit Project popovers into modals"
Currently the create and edit project popovers behave differently from traditional modals. For consistency, we would like to convert both into standard modals. Note, this may close this related issue: https://github.com/openshift/origin-web-console/issues/2722. See attached designs below.

Create Project:
<img width="270" alt="screen shot 2018-01-26 at 2 00 57 pm" src="https://user-images.githubus

[2018-01-26 19:10] beanh66 commented on #2725
FYI @openshift/team-ux-review @jwforres

[2018-01-26 19:17] rhamilto commented on #2724
https://css-tricks.com/almanac/selectors/s/selection/ to the rescue!

[2018-01-26 19:46] benjaminapetersen commented on #2723
Agree, that doesn't make sense. I can look at this.

[2018-01-26 19:55] beanh66 commented on #2661
There is a separate issue open for the create project modal: https://github.com/openshift/origin-web-console/issues/2725

[2018-01-26 20:01] beanh66 opened #2727 "Change the Import YAML/ JSON dialog into a wizard"
Currently the Import YAML/JSON action can end up with a modal on a modal. See below:
https://user-images.githubusercontent.com/1874151/35239685-39a88bd4-ff7f-11e7-95a7-a0cfd5cee65b.png. Note: this is related to the issue here: https://github.com/openshift/origin-web-console/issues/2661

Revisit the design for this dialog and adjust into a wizard.

[2018-01-26 20:03] beanh66 commented on #2727
@sg00dwin could you provide a clip of this flow? Not sure when the "Some items already exist" modal appears. We will need to review that and provide a design for this issue.

[2018-01-27 14:26] spadgett commented on #2699
Updated fix in https://github.com/openshift/origin/pull/18312

[2018-01-29 13:27] #2496 closed

[2018-01-29 13:46] php-coder commented on #2645
@jwforres Ping

[2018-01-29 13:49] jwforres commented on #2645
yeah i dont even have that access, needs to be someone like @smarterclayton or @dobbymoodge

[2018-01-29 14:45] ncameronbritt opened #2732 "Look at build config webhook section when secrets can't be listed"
Follow up to https://github.com/openshift/origin-web-console/pull/2713#issuecomment-361256907

[2018-01-29 15:45] dobbymoodge commented on #2645
Someone come up with a good description and I'll add it. :D

[2018-01-29 17:16] benjaminapetersen opened #2733 "The `Configuration` tab on a ReplicationController page does not scale the same way as other resources"
The `ReplicationController` page does not adjust to wider screens the same way that a `DC` or `Deployment` page does, possibly due to the donut

`https://localhost:9000/dev-console/project/myproject/browse/rc/rc-test?tab=details`
![screen shot 2018-01-29 at 11 52 42 am](https://user-images.githubusercontent.com/280512/35522690-02c3f858-04eb-11e8-85b6-5d360608839d.png)

`DC` page example, 1 replica

[2018-01-29 17:17] benjaminapetersen commented on #2733
I haven't labeled this yet as I'm not quite certain on the reasoning behind the differences.

[2018-01-30 03:21] 0polar opened #2737 "Deploy Image - Tag textarea sometime unavailable"
### Version
OpenShift Online v3

### Current Result
1. In project page (e.g. https://console.starter-us-west-1.openshift.com/console/project/YOUR_PROJECT_NAME/overview), click "Add to Project - Deploy Image", choose "Image Stream Tag", input tag
2. "Tag" textarea have no dropdown, user can't input/choose the tag
<img width="1235" src="https://user-images.githubusercontent.com/29332484/35546187-080

[2018-01-30 17:44] #2661 closed

[2018-01-30 22:44] spadgett commented on #2737
/assign
/kind bug
/priority p2

[2018-01-30 23:37] spadgett opened #2744 "Idle text should not be shown inside mini donut"
I don't think there's enough space. The text might be longer as well in other languages when we translate the console.

![openshift web console 2018-01-30 18-36-50](https://user-images.githubusercontent.com/1167259/35597464-96d65156-05ec-11e8-9f63-7c7b5b37fd7b.png)

/kind bug
/area styles
/priority p3
/assign @rhamilto @sg00dwin

[2018-01-31 01:59] spadgett opened #2745 "Remove tech preview label from stateful sets page"
/assign @benjaminapetersen
/area techdebt

[2018-01-31 03:37] benjaminapetersen commented on #2723
Actually, I don't know if we are on the Overview page, I can scale my DC's but not my StatefulSets:

![screen shot 2018-01-30 at 10 36 48 pm](https://user-images.githubusercontent.com/280512/35604017-28d0e0e6-060e-11e8-9322-d2a96c02b3ba.png)

Investigating.

[2018-01-31 03:50] benjaminapetersen commented on #2723
Related to #2733, I'm trying to decide how to approach this/which to follow, since we have the `replicas` editor with & without the donut.

[2018-01-31 13:46] spadgett commented on #2723
Sometimes it can apparently?

![openshift web console 2018-01-31 08-45-06](https://user-images.githubusercontent.com/1167259/35626279-384ca0c8-0663-11e8-9ac1-1bca13952abc.png)

[2018-01-31 16:54] benjaminapetersen commented on #2723
Any idea why....?  I'll swing your way on that.

[2018-01-31 18:44] #2724 closed

[2018-01-31 20:15] spadgett commented on #2723
I'm not sure why it wouldn't always be scalable.

https://github.com/spadgett/origin-web-console/blob/c5bb9ada6e7b73ba9355c7aad7b56cb6981af440/app/scripts/directives/overview/listRow.js#L142-L157

@jwforres any objection to just making stateful sets scalable now?

[2018-01-31 20:16] spadgett commented on #2723
Actually, nevermind. It doesn't work: "Reason: Cannot scale kind StatefulSet."

[2018-01-31 20:54] #2745 closed

[2018-01-31 22:06] spadgett commented on #2723
I suspect it's the canI check that hides the arrows, but the check is skipped since I was logged in as cluster-admin.

[2018-01-31 22:13] jwforres commented on #2723
so despite you having authority to get the scale subresource on statefulsets, it still throws an error? what error code is it, 405?

[2018-01-31 22:14] benjaminapetersen commented on #472
Doing some investiating on this, the `\n` newline character, as well as natural line breaks in the console itself, tend to have either no effect or strange effect when sent to the log viewer in the web console.  Adding these screenshots as documentation to what I'm finding:

![screen shot 2018-01-31 at 5 10 54 pm](https://user-images.githubusercontent.com/280512/35650348-bb8c4510-06a9-11e8-8d5d-d3

[2018-02-01 14:00] spadgett commented on #2723
/assign

I have a fix as part of my fix for bug 1540916.

[2018-02-01 14:59] benjaminapetersen commented on #150
@jwforres given what we are researching now, do we want to keep this open, or close it & revisit when we have to port this directive?

[2018-02-01 15:03] jwforres commented on #150
the problem still exists.  if we fix it as part of porting the directive great, but we should till be tracking it

[2018-02-01 16:55] benjaminapetersen commented on #150
sounds good.

[2018-02-01 18:42] benjaminapetersen commented on #472
` oc logs -f mydc-1-x7mw5-debug` gets a very similar output as is sent to the web console.  For example, as above, when reaching the end of the terminal line a partial message will be sent & displayed both in the web console && in the terminal that is following the log, then the full message will be sent again when the user types `enter`.

I think behavior changes may need to happen at a higher le

[2018-02-01 20:14] spadgett opened #2750 "Expanding and collapsing nav does not resize terminal window"
Expanding and collapsing the left nav changes the size of the window, but open terminal windows don't resize. This can lead to part of the terminal extending beyond the edge of the visible window.

/kind bug
/area styles
/priority p3
/assign

@rhamilto @sg00dwin FYI

[2018-02-01 20:39] benjaminapetersen opened #2751 "DaemonSets shows up twice under Other Resources"
![screen shot 2018-02-01 at 3 38 57 pm](https://user-images.githubusercontent.com/280512/35702088-19e60a08-0766-11e8-8be8-8054b04d5d61.png)

[2018-02-01 20:46] spadgett commented on #2751
/assign @benjaminapetersen
/kind bug
/priority p2

[2018-02-01 23:56] spadgett opened #2753 "Container heading redundant at mobile"
The tab title and container heading is the same at mobile, so we can't probably drop the heading.

The title should probably be "Containers" as well since there can be more than once.

![openshift web console 2018-02-01 18-55-39](https://user-images.githubusercontent.com/1167259/35709674-a4753de0-0781-11e8-8318-9897ce58be7e.png)

/assign @rhamilto

[2018-02-01 23:59] spadgett opened #2754 "Console says replica set created "in a few seconds""
This can happen in other contexts, too. I believe anywhere we show a relative timestamp. It's likely due to clock skew between browser and server.

![screen shot 2018-02-01 at 3 00 38 pm](https://user-images.githubusercontent.com/1167259/35709758-002b517e-0782-11e8-9648-eb946dfec98f.png)

/kind bug
/priority p2

[2018-02-01 23:59] spadgett commented on #2754
/assign

[2018-02-02 01:45] #2696 closed

[2018-02-02 01:45] #2744 closed

[2018-02-02 09:12] 0polar opened #2755 "Deploy from public Docker image in web console [Feature Request]"
Version: OpenShift Online v3

In web console, there is only source-to-image (Browse Catalog), there is no option to deploy from public Docker image such as `oc new-app gitlab/gitlab-ce`.

[2018-02-02 12:55] spadgett commented on #2755
From within your project, select Add to Project -> Deploy Image -> Image Name and enter a public image like `gitlab/gitlab-ce`. This will give you the same result as the `oc` command.

Note that some images won't run if they require root access. Hope this helps.

/assign
/kind question
/close

[2018-02-02 12:55] #2755 closed

[2018-02-02 15:05] rhamilto commented on #2714
I suspect this was fixed with https://github.com/openshift/origin-web-console/issues/2696, but need to test once metrics are fixed.

[2018-02-02 19:05] cshinn commented on #2654
@benjaminapetersen @spadgett
Here is a proposal for restructuring the membership page to bring it more in line with other pages that already exist and enable users to see detailed information about roles. Let me know if anything needs clarification or would provide implementation difficulties and I'll be happy to update these.

https://redhat.invisionapp.com/share/VTFNTEHZ2CU#/277164988_membership

[2018-02-02 19:40] spadgett opened #2758 "Console loops endlessly when it can't connect to API server"
Since we proxy from the master to the console, this should rarely happen. If the console can't connect to the API server, however, it goes into a loop trying to do API discovery. This could happen because of a misconfiguration of `clusterInfo.masterPublicURL` or possibly due to incorrect certs.

/assign
/kind bug
/priority p2

@jwforres FYI

[2018-02-02 19:54] dtaylor113 commented on #2758
+1 for incorrect certs.  When this happens to me I end up clearing my brower cache/cookies/certs and it fixes the issue.

[2018-02-02 20:37] jwforres commented on #2758
I think this typically happens when you already have a user token in local storage but the cert for the api server changes. If you don't have a token you get sent to login flow which triggers cert acceptance.

[2018-02-02 20:39] jwforres commented on #2758
So what is supposed to happen if you have the token already but API requests fail, it's supposed to go to an error page with a link to check your server connection.

[2018-02-02 21:33] spadgett commented on #2758
Here's what I'm seeing:

![screencast 2018-02-02 14-33-15](https://user-images.githubusercontent.com/1167259/35755802-babab94e-0836-11e8-9c87-952931f135f6.gif)

[2018-02-02 21:50] #2753 closed

[2018-02-02 22:30] jwforres commented on #2758
We definitely shouldn't redirect to the error page if we are already on it. Ideally we wouldn't even try to do discovery if we are on it.

[2018-02-03 01:19] #2722 closed

[2018-02-03 13:19] spadgett opened #2761 "Overlay wizard scrolling sluggish on iOS"
It's difficult to scroll inside our wizards on an iPhone. Making this a p2 because it makes the wizards frustrating to use.

/area styles
/kind bug
/priority p2

[2018-02-03 18:38] spadgett commented on #2761
Related to this, it's possible to scroll the page under the wizard overlay on iOS.

[2018-02-03 18:53] spadgett opened #2762 "Need to tap tabs twice on iPad"
We need to tab each tab twice on the iPad to select it.

/priority p3

[2018-02-03 18:53] spadgett commented on #2762
/assign

[2018-02-03 21:14] spadgett commented on #2762
Seems to be a problem on the iPad only, not the iPhone.

[2018-02-04 20:53] spadgett opened #2767 "Icon not showing up for Grafana template"
https://github.com/openshift/origin/blob/master/examples/grafana/grafana.yaml

It uses `iconClass: icon-cogs`. The icon isn't showing up the in web console.

/assign
/kind bug
/priority p2

[2018-02-04 22:12] spadgett commented on #2767
Best I can tell, `icon-cogs` doesn't exist, although it's used several places in origin templates.

[code]

Lowering priority since it doesn't seem to be a bug, although we should update the templates.

[2018-02-05 13:24] spadgett commented on #2737
This is also now tracked by https://bugzilla.redhat.com/show_bug.cgi?id=1541939

Closing the issue so we don't have duplicate bugs. @0polar We're still looking at the problem, but will use Bugzilla to track.

@rhamilto FYI

/close

[2018-02-05 13:24] #2737 closed

[2018-02-05 13:25] spadgett commented on #2767
/assign @rhamilto

Can you confirm that `icon-cogs` isn't valid?

[2018-02-05 14:13] rhamilto commented on #2767
[icon-cogs was removed](https://github.com/openshift/origin-web-console/commit/79909e7599a80ffc80bf62e0cd57507f8c54adf0#diff-fd9f9788aef44a46d47e5c9d8475116f) as it was part of a deprecated set of icons that had been carried forward from v2 that we didn't need anymore, **and** it is  a duplicate of [fa-cogs](https://fontawesome.com/v4.7.0/icon/cogs/).  My recommendation is to use "fa fa-cogs" inst

[2018-02-05 14:13] #2767 closed

[2018-02-05 14:15] spadgett commented on #2761
/assign @rhamilto

Can you investigate? It might just be that we need to set momentum scrolling.

https://stackoverflow.com/questions/33601165/scrolling-slow-on-mobile-ios-when-using-overflowscroll

[2018-02-05 14:21] #2762 closed

[2018-02-05 16:26] benjaminapetersen commented on #2654
Great, thx @cshinn!
Left a handful of comments.  My main concern is the potential for being overwhelmed by a sea of checkmarks.  If I have a handful of custom roles that are subtly different, it leaves a lot on me to parse out the pages & digest which role I actually want. I wonder if we can reduce that mental work for the user with more of a "list what's true" approach?  Just throwing that out th

[2018-02-05 23:50] #2761 closed

[2018-02-06 15:04] #2699 closed

[2018-02-06 15:44] spadgett commented on #2405
/assign @dtaylor113
/unassign @jwforres

@dtaylor113 Do you want to take a look at this one?

[2018-02-06 15:45] spadgett commented on #2297
@dtaylor113 Has this since been fixed?

[2018-02-06 17:41] spadgett opened #2770 "Bad wrapping of source URL after icon in image stream tag page"
Note that in other places we put the external link icon after the link in the console UI

![openshift web console 2018-02-06 09-18-06](https://user-images.githubusercontent.com/1167259/35864082-b751c988-0b1e-11e8-9884-d823d764d562.png)

/area styles
/kind bug
/priority p3

@petervo

[2018-02-06 18:56] dtaylor113 commented on #2405
@spadgett, ok, will do

[2018-02-06 19:58] spadgett opened #2772 "Large project lists still a problem in some places"
Places where we don't use the `select-project` widget still have a problem with extremely large project lists (thousands of projects). We have problems in the following places:

* Select from Project
* istag-select (Deploy Image, Edit Build Config, Edit Deployment Config)
* Edit Membership
* Create from URL

/kind bug
/priority p2
/assign

@jwforres CC

[2018-02-06 20:09] spadgett opened #2773 "Membership page should honor role binding restrictions"
Right now we don't look at role binding restrictions in our edit membership page. This will result in 403 forbidden responses from the API server. We should investigate if there is something better we can do in the UI.

@jwforres @benjaminapetersen

/area usability
/priority p2

[2018-02-06 21:48] benjaminapetersen commented on #2773
Not sure I'm familiar with  role binding restrictions but I can do some homework

[2018-02-07 00:56] benjaminapetersen commented on #2773
Sounds like this might be enough work to be a Trello.

[2018-02-07 13:19] #2751 closed

[2018-02-07 15:16] jhadvig opened #2775 "BC's build secret destination dir label and help-text are not align properly"
Both label and help-text are not align properly. Screen:
![download](https://user-images.githubusercontent.com/1668218/35924048-3c304c70-0c22-11e8-88b7-d27702386ad1.png)

/assign

[2018-02-07 16:07] benjaminapetersen commented on #2751
Do we need a bump to common before we close this out?

[2018-02-07 16:50] spadgett commented on #2751
@benjaminapetersen i'm ok either way :)

[2018-02-07 18:56] benjaminapetersen opened #2780 "Type error in oscRouting"
[code]

![screen shot 2018-02-07 at 1 24 02 pm](https://user-images.githubusercontent.com/280512/35935448-8c751152-0c0e-11e8-90ef-b562c73a8d10.png)

@TheRealJon

[2018-02-07 19:03] TheRealJon commented on #2780
@spadgett @benjaminapetersen Taking a look at this now.

[2018-02-07 22:23] #2405 closed

[2018-02-07 23:46] #2780 closed

[2018-02-08 02:27] #2591 closed

[2018-02-08 16:30] ncameronbritt opened #2791 "Provisioned Service list page rows aren't the same height"
The height of the first row matches other similar pages.

![screen shot 2018-02-08 at 11 25 02 am](https://user-images.githubusercontent.com/8974593/35984923-6921f26e-0cc3-11e8-8c2a-664fee995094.png)

[2018-02-08 16:34] spadgett commented on #2791
/kind bug
/area styles
/priority p3
/assign @sg00dwin

[2018-02-11 17:44] enj commented on #2773
I am not sure this can be built into the web console without duplicating most of the logic in the admission plugin.  You also run into the issue of drifting from the server over time.   On a related note, do you guys hide the membership page if the user cannot edit role bindings?  They could still have indirect access via a SA, but that is probably not important for the console.

[2018-02-11 18:51] jwforres commented on #2773
I don't think we should duplicate all the logic, I think there are certain situations we could look for. If there is a restriction on users that only the current user is allowed, why show them the ability to add users?

I don't remember if we check list or create on rolebinding, but only project admins see the membership page with the OOTB roles.

[2018-02-12 11:55] jhadvig opened #2798 "Service item names are align to the left"
After fetching the latest master and navigating to the web-catalog I see that the service item names are align to the left. I believe that the names should be align to the middle.
After some investigation I see that the ` -webkit-box-orient: vertical;` style is missing, even though it's present in dependent [less file](https://github.com/openshift/origin-web-common/blob/fcbf93f82722d5b5b4233a6c9f2

[2018-02-12 12:13] jhadvig commented on #2798
So for some reason I'm not able to reproduce the issue any more. Weird. Guys could you try to pull the latest master and see if you can reproduce the issue ? If not I will close the issue.
Thanks !

[2018-02-12 13:10] spadgett commented on #2798
@jhadvig I'm not seeing the problem. If you're running with `grunt serve`, this can sometimes happen after a `git pull` or `bower install` when the page loads before grunt has had time to finish compiling the less.

I'm going to close for now. Feel free to reopen if you can reproduce.

/close

[2018-02-12 13:10] #2798 closed

[2018-02-13 19:25] sg00dwin commented on #2246
This issue is no longer accurate, since https://github.com/patternfly/angular-patternfly/pull/647 changed the default behavior of the notification panel.

[2018-02-13 19:25] #2246 closed

[2018-02-13 20:31] spadgett commented on #2751
/close

Fixed when we bumped common in #2800

[2018-02-13 20:34] spadgett commented on #2714
Looks OK now.

![screen shot 2018-02-13 at 3 33 59 pm](https://user-images.githubusercontent.com/1167259/36172271-587f14f0-10d3-11e8-9660-4e29959e07a8.png)

/close

[2018-02-13 20:34] #2714 closed

[2018-02-13 20:36] spadgett commented on #2297
I've verified this is fixed now.

![openshift web console 2018-02-13 15-35-42](https://user-images.githubusercontent.com/1167259/36172356-9dd2e8e2-10d3-11e8-92b3-087788154bef.png)

/close

[2018-02-13 20:36] #2297 closed

[2018-02-13 20:52] #2791 closed

[2018-02-14 19:50] enj commented on #2773
Here are the RBR that online uses in each namespace (see inline comments):

[code]

The logic for when the RBR admission plugin is enabled is:

1. Someone tries to create a role binding
2. We iterate over all RBR
3. If any of the RBR allow the role binding, short circuit and ALLOW
4. Default to DISALLOWED

That is basically the entire logic of the admission plugin.  I see no way to answer:

withou

[2018-02-14 20:07] benjaminapetersen commented on #2773
Is this significant enough to warrant a trello card instead of a github issue?  Seems like it might be, and perhaps save it for the overhaul of the membership page.

[2018-02-14 20:10] jwforres commented on #2773
@benjaminapetersen yes, its significant and should be in trello, feel free to spawn a card and link to the issue

[2018-02-14 20:21] benjaminapetersen commented on #2773
Great, will do!

[2018-02-14 20:21] #2773 closed

[2018-02-14 20:22] benjaminapetersen commented on #2773
[migrated to trello card](https://trello.com/c/XfJEpCuS)

[2018-02-15 21:35] ttindell2 opened #2804 "Add a Notification Banner To Openshift Web Console"
It would be nice to have the ability to easily set a notification banner for outages in the Openshift Web Console.

[2018-02-15 21:37] spadgett commented on #2804
@ttindell2 Is something like this sufficient?

https://docs.openshift.org/latest/install_config/web_console_customization.html#system-status-badge

[2018-02-15 21:40] ttindell2 commented on #2804
Yes actually that looks pretty good. Didnt realize this existed

[2018-02-15 21:40] #2804 closed

[2018-02-16 13:42] #2750 closed

[2018-02-16 15:04] witmicko opened #2806 "Add mechanism for enabling the mobile UI"
## What
The mobile UI should only show up in the console if it is enabled. We need to decide on a mechanism for enabling the UI.

Invision app mockups https://redhat.invisionapp.com/share/3METBQE2D#/screens/278322071

Our suggestion for enabling mobile is following:
[code]
https://github.com/aerogear/origin-web-console/pull/1/files

@spadgett does this seem like a reasonable approach?

[2018-02-19 18:25] stevekuznetsov opened #2808 "monitoring: prioritize salient info, deprioritize empty sections"
I am trying to monitor some builds, so in the monitoring page I type in the names I would like to search for. My view first has pods, deployments and stateful sets in the listing. My filter matches nothing for those categories. On a smaller screen, I almost thought it was broken since I didn't scroll down to see builds. If the sections are empty from the filter or because there are no objects of t

[2018-02-19 18:26] spadgett commented on #2808
@openshift/team-ux-review

[2018-02-19 18:27] spadgett commented on #2808
/area usability
/priority p3

[2018-02-19 18:27] spadgett commented on #2808
/assign

[2018-02-19 19:29] stevekuznetsov commented on #2808
Or if possible since there is already a drop-down to filter by sections, set that filter programmatically.

[2018-02-19 19:30] spadgett commented on #2808
Hiding empty sections when a filter is enabled is easy enough as long as we catch the case where everything is filtered.

[2018-02-19 20:00] rhamilto commented on #2038
With Chrome Version 64.0.3282.167, I am unable to reproduce.  I suspect this means the bug was fixed in Chrome.  @ncameronbritt is to test to confirm the bug no longer exists tomorrow (Tue Feb 20).  If he's unable to reproduce, he will close this issue.

[2018-02-20 11:23] witmicko commented on #2806
Resolved in https://github.com/aerogear/origin-web-console/pull/1

[2018-02-20 11:23] #2806 closed

[2018-02-20 14:03] ncameronbritt commented on #2038
I'm still seeing the artifacts with Chrome version 64.0.3282.167

![screen shot 2018-02-20 at 9 01 29 am](https://user-images.githubusercontent.com/8974593/36428040-d042fd46-161c-11e8-919e-110009de49ae.png)

[2018-02-20 14:04] ncameronbritt commented on #2038
As before, disabling GPU Rasterization seems to fix it.

[2018-02-20 16:57] sg00dwin commented on #2727
Here are 2 use cases where a modal on top of existing modal appears. Is their a reason these can't be added as an additional step to the wizard?

**First scenario**
Uploading a yaml file of a replica set that already exists. The user is messaged that it already exists and must either replace or cancel before proceeding.

![create-modal-on-modal-aa](https://user-images.githubusercontent.com/1874151

[2018-02-20 18:34] ncameronbritt opened #2811 "Attempting to Rebuild a build results in an error"
The error is:

[2018-02-20 20:01] spadgett commented on #2811
@ncameronbritt has confirmed this is fixed in current master.

/close

[2018-02-20 20:01] #2811 closed

[2018-02-20 21:36] diggschauhan opened #2815 "Build constantly failing without any error details!"
Hi
This is the first time I am using openshift so excuse any basic mistake. I added a new project pointed to public git repo. Trying to build it and getting following error. I am getting warning for babel but surely that should make the build fail? Any help would be appreciated. Thanks!

Cloning "<the repo>" ...
--
  | Commit:	567b12cc7dd3bd816a395d974deebd6adfdcfffb (removing watch)
  | Author:	j

[2018-02-20 22:54] spadgett commented on #2815
Is there any more to the log?

This isn't specific to the web console, so isn't the best forum. I'd recommend the openshift users mailing list.

https://lists.openshift.redhat.com/openshiftmm/listinfo/users

@bparees any idea?

/kind question

[2018-02-20 22:58] bparees commented on #2815
no idea, would be useful to know what repo you were trying to build and to see the rest of the build log as @spadgett said.

[2018-02-20 22:59] diggschauhan commented on #2815
Thanks for replying. No that is it, hence all the more difficult to understand what is going on. I tried from terminal as well but get same logs. Is there anyway I can get detailed logs?

oc logs build/nodejs-mongo-persistent-4

[2018-02-20 23:07] diggschauhan commented on #2815
@bparees if you mean the git repo. it is https://github.com/diggschauhan/cezerin.git

and the one in openshift is

oc start-build nodejs-mongo-persistent -n slick

[2018-02-20 23:10] bparees commented on #2815
it's possible your container is getting OOM killed.

[2018-02-20 23:18] diggschauhan commented on #2815
Does that mean the application is trying to use more resources than allocated to it? I have 2 cores and 1 gb memory assigned to the application i think.

[2018-02-21 00:01] #2723 closed

[2018-02-21 17:06] ncameronbritt opened #2834 "Editing a BC triggers password manager despite there being no obvious passwords/logins on the page"
Happens with 1Password on a Mac

[screen shot 2018-02-21 at 12 02 34 pm](https://user-images.githubusercontent.com/8974593/36494179-531b591a-16ff-11e8-8b78-0bdeea166216.png)

[2018-02-21 17:53] maleck13 opened #2835 "Add support for viewing mobileclient CRD in the project overview screen"
As part of on going work to make mobile development as simple and appealing as possible using OpenShift, we would like to allow developers to view mobile client representations [mobileclient CRD](https://github.com/aerogear/mobile-cli/blob/master/artifacts/mobileclient_crd.yaml) in the OpenShift overview screen.
If the  CRD is present , it will enable parts of the UI designed with mobile developer

[2018-02-21 17:56] spadgett commented on #2834
It looks like `autocomplete="off"` fixes this for 1password at least.

/assign
/priority p3

[2018-02-21 18:00] spadgett commented on #2834
I think I spoke too soon. I had autofill disabled for localhost.

[2018-02-21 18:06] spadgett opened #2836 "Different spacing between action dividers in build config editor"
I like the bottom better, although I believe we use the top margins in other places.

![openshift web console 2018-02-21 13-05-04](https://user-images.githubusercontent.com/1167259/36496969-e9ffa220-1707-11e8-8b1b-c8408b3f5b65.png)

/area styles
/kind bug
/priority p3
/assign @sg00dwin @rhamilto

[2018-02-21 18:45] ncameronbritt opened #2839 "Overly large hover area for build graph"
Hovering on the graph shows a tooltip with info, but the hover area is much bigger than the bar. This makes for some unexpected behavior when moving the mouse. Notice mouse and tooltip positions:
![screen shot 2018-02-21 at 1 43 09 pm](https://user-images.githubusercontent.com/8974593/36498813-7d8063ea-170d-11e8-9aa1-4329644d0c35.png)

[2018-02-21 20:10] spadgett commented on #2839
/assign @TheRealJon

/area usability
/priority p3

[2018-02-21 22:29] spadgett opened #2846 "Empty state message for project list filter has empty grey border"
There is a empty border / box shadow below the message.

![openshift web console 2018-02-21 17-28-00](https://user-images.githubusercontent.com/1167259/36509124-a3c79310-172c-11e8-8d5f-a2d8ec2c3c54.png)

/kind bug
/area styles
/assign @sg00dwin @rhamilto
/priority p3

[2018-02-22 18:44] #2846 closed

[2018-02-22 18:51] spadgett commented on #1902
This is now tracked in Trello: https://trello.com/c/guhAEGVH

/close

[2018-02-22 18:51] #1902 closed

[2018-02-22 20:48] diggschauhan commented on #2815
Can you please let me know is it possible to run command tools in openshift 3? I couldnt find a place to import my keys for ssh connection on web console anymore? I thought may be i would connect and run commands manually to see what is going on

[2018-02-22 20:54] spadgett commented on #2815
@diggschauhan Help Menu -> Command Line Tools has a link to the download and a command to login with your token.

[2018-02-22 22:00] diggschauhan commented on #2815
@spadgett thanks i will give it a try.  and i did check and the pod says OOM killed. not sure why is that happening?

[2018-02-23 17:28] spadgett commented on #2835
/assign @maleck13
/kind enhancement

[2018-02-23 17:38] spadgett commented on #2815
@bparees ^

[2018-02-23 17:39] spadgett commented on #2732
/assign @jhadvig
/area usability
/priority p2

[2018-02-23 17:42] spadgett commented on #2733
The donut is only there for a specific deployment version. There could be more than one donut if a rollout is in progress, so it's a little tricky. I think it's reasonable to show something like we show on the overview for that case. I'm not sure if we're pulling pods on this page at all.

/area usability
/kind enhancement
/priority p3

[2018-02-23 17:43] spadgett commented on #2727
/area usability
/kind enhancement
/priority p3
/assign

[2018-02-23 17:44] spadgett commented on #2770
/assign @rhamilto @sg00dwin

This probably needs to be changed in the common image registry components, but assigning to Robb and Steve for now.

[2018-02-23 17:44] spadgett commented on #2725
/area usability
/kind enhancement
/assign @rhamilto
/priority p3

[2018-02-23 17:46] spadgett commented on #2581
Requires https://github.com/openshift/origin-web-common/issues/308

[2018-02-23 17:46] spadgett commented on #2581
/assign

[2018-02-23 17:52] #2836 closed

[2018-02-23 18:03] spadgett commented on #2124
I'm closing this as not practical to implement. It's expensive to watch quota. There are so many actions that can cause this in the UI, and I want to be careful about how much logic we duplicate around quota on the client generally.

/close

[2018-02-23 18:03] #2124 closed

[2018-02-23 18:06] spadgett commented on #2122
This is essentially the same as https://bugzilla.redhat.com/show_bug.cgi?id=1495427

I'm going to close this issue so we're not tracking it twice.

/close

[2018-02-23 18:06] #2122 closed

[2018-02-23 18:47] spadgett commented on #799
Verified that the remaining items are done.

/close

[2018-02-23 18:47] #799 closed

[2018-02-23 19:09] TheRealJon commented on #2839
I looked into this and it seems that this is the expected behavior for c3 charts.

https://codepen.io/TheRealJon/pen/oEMOdW

I looked through the C3 docs and there does not seem to be an easy way to customize or change this behavior. If we think it's worth while, we might be able to dig a little deeper and maybe contribute a new feature to the C3 repo to enable customization of the tooltip hover b

[2018-02-23 19:26] rhamilto commented on #2770
A markup change is all that is needed to resolve this.  https://github.com/cockpit-project/registry-image-widgets/blob/master/views/image-body.html#L10

[2018-02-23 19:57] spadgett commented on #2839
Thanks @TheRealJon

@ncameronbritt If you don't think this is too serious an issue, I might close this as a c3.js limitation.

[2018-02-23 19:58] bparees commented on #2815
@diggschauhan it means something (in this case probably npm) used more memory than your pod is allowed to use.  Try raising your resource limits on your build.  https://docs.openshift.org/latest/dev_guide/builds/advanced_build_operations.html#build-resources

[2018-02-23 20:00] ncameronbritt commented on #2839
I don't think it's a huge deal.

[2018-02-23 20:01] #2839 closed

[2018-02-23 20:07] spadgett opened #2851 "No margin between container heading and metrics on overview"
![openshift web console 2018-02-23 15-06-48](https://user-images.githubusercontent.com/1167259/36614592-37c09402-18ab-11e8-8f24-8f9574039879.png)

/kind bug
/area styles
/priority p3
/assign @sg00dwin

[2018-02-25 22:08] writemevenkat commented on #336
@wgordon17 Trying to create a route with external public hostname but for some reason the hostname field is disabled. I'm trying with OC v3 starter plan. Will it work or should i buy pro ?

[2018-02-25 22:11] wgordon17 commented on #336
Starter does not allow custom URLs. You can see more differences between
Starter and Pro on the pricing page,
https://www.openshift.com/pricing/index.htm
<https://www.openshift.com/pricing/index.html>.

From: Venkat Muthu <notifications@github.com> <notifications@github.com>
Reply: openshift/origin-web-console
<reply@reply.github.com>
<reply@reply.github.com>
Date: February 25, 2018 at 17:08:36
To

[2018-02-26 12:32] beanh66 commented on #2727
@sg00dwin @spadgett Met with the other designers and the following is our recommendation:

- First scenario:  Leave as is - the confirmation modal makes sense and works fine for this case.
- Second scenario: Add steps to the wizard once they are needed:
![modals issue -01](https://user-images.githubusercontent.com/18057044/36670709-19a99b26-1ac7-11e8-8cd0-3f183185c453.png)
![modals issue -02](http

[2018-02-26 13:07] beanh66 commented on #2727
I want to be sure I understand the use case correctly @spadgett. Today it seems like we show the popup after the user clicks Create. Is there any scenario where we wouldn't need the user to specify whether they want to save or just process the YAML? If it would always be necessary, we should show all 4 steps to begin with!

[2018-02-26 13:31] spadgett commented on #2727
Yes. Usually you don't see any prompts. Here are the times you do:

1. If you paste YAML for a template
2. If one of the resources you're creating already exists
3. If creating a resource will put you over quota

Some of these checks require us to make requests to the server, so we don't try to perform them until the user clicks "Create."

[2018-02-26 14:58] beanh66 commented on #2727
Thanks @spadgett that's what I figured.
1. The above screenshots should make sense for this use case
2. The current implementation is fine with the confirmation modal on top of the wizard
3. Can you provide a screenshot of that use case?

[2018-02-26 21:52] #2851 closed

[2018-02-27 15:29] rhamilto commented on #2614
Any objections to eliminating the three column layout at desktop resolutions to resolve the bug as an interim solution?

Note:  this is a rough mock
<img width="1426" alt="screen shot 2018-02-27 at 10 28 50 am" src="https://user-images.githubusercontent.com/895728/36737444-0cdcd420-1ba9-11e8-82b8-12a4549b2e92.PNG">

[2018-02-27 18:52] #2775 closed

[2018-02-27 19:03] sg00dwin commented on #2614
+1 works for me

[2018-02-27 20:06] benjaminapetersen commented on #2614
not a prob imo.

[2018-02-27 20:47] sg00dwin opened #2858 "Dual inline input rows have varying input widths for EnvVar, Triggers, and Build secrets"
Related discussion https://github.com/openshift/origin-web-console/pull/2799#pullrequestreview-96173880

![inconsistent-input-alignments](https://user-images.githubusercontent.com/1874151/36753774-3398e33e-1bd5-11e8-8efa-2b6ba19841c1.png)

[2018-02-27 22:33] #1665 closed

[2018-03-01 15:14] benjaminapetersen opened #2864 "Delete project dialog no longer shows the name to type"
Was this an intentional change?  You used to see the name in bold:

![screen shot 2018-03-01 at 10 11 50 am 1](https://user-images.githubusercontent.com/280512/36852197-187b983e-1d39-11e8-8c49-889fea0a2942.png)

@spadgett @rhamilto

If this is expected, this issue can be closed.

[2018-03-01 15:19] spadgett commented on #2864
@benjaminapetersen The name is there.... Is the bug that it's no longer bolded?

[2018-03-01 15:21] benjaminapetersen commented on #2864
Right. not bold. and i think it was larger.  it was previously very clear & obvious what you should type to get the "delete" button to activate.  Memory might be foggy but i thought this modal was scarier.  😄

[2018-03-01 15:23] spadgett commented on #2864
@openshift/team-ux-review

/bug usability
/priority p3
/assign @rhamilto

[2018-03-01 15:23] spadgett commented on #2864
/kind bug
/area usability

[2018-03-01 15:29] rhamilto commented on #2864
I believe the issues is because the all the text "Are you sure you want to delete the project 'My Project'?" is now bold now that it's part of the modal-title rather than a separate node within the content (it was an h1 with strong around the project name).  A possible fix would be to add the project name to the last sentence?

Type **My Project** to confirm deletion.

For reference, Github's look

[2018-03-01 15:44] ncameronbritt opened #2865 "Add storage to a deployment defaults to the first PVC in the list"
We default to the first PVC in the alphabetical list even if a user created storage as part of this flow.
<img width="1003" alt="screen shot 2018-03-01 at 10 41 25 am" src="https://user-images.githubusercontent.com/8974593/36853784-577b8b8a-1d3d-11e8-94da-3a3600c681ec.png">

If a user created storage as part of this flow, the newly created PVC should be selected when the user is returned to the Ad

[2018-03-01 17:04] benjaminapetersen commented on #2864
Yup. Github even used to be a bit more clear than that. Currently, ours is too much of a plain modal, it no longer feels like an "oh crap, better not screw this up" moment.

[2018-03-01 19:35] #2614 closed

[2018-03-01 19:49] diggschauhan opened #2866 "host environment variable for postgresql database"
Hi,
In latest version 3, i am not able to locate the host name or any environment variable related to it for postgresql database server i created. I am not sure how would i connect to it using my dot net core application (connection settings) from inside other openshift pod or for that matter outside openshift.

Any help is appreciated. Thanks!

[2018-03-01 20:46] spadgett commented on #2866
@diggschauhan Do you know if you're running with service catalog enabled? If you are, you'll see a "Provisioned Services" section on the overview. You can create binding with the connection info in a secret if using service catalog.

Here is some doc on PostgresSQL:

https://docs.openshift.org/latest/using_images/db_images/postgresql.html

cc @bparees
/kind question

[2018-03-01 20:47] spadgett commented on #2865
/area usability
/priority p3
/assign

[2018-03-01 20:47] spadgett commented on #2858
/kind bug
/area styles
/priority p3

[2018-03-01 21:35] rhamilto commented on #2531
Should be fixed by https://github.com/openshift/origin-web-console/pull/2849

[2018-03-01 21:35] #2531 closed

[2018-03-01 22:38] beanh66 commented on #2864
@rhamilto I like your idea to change that last sentence to "Type **My Project** to confirm deletion."

[2018-03-02 16:22] beanh66 opened #2868 "Change the empty state for the Import YAML/ JSON wizard"
Can we change the Import YAML/JSON wizard to have a single line of instructions with an empty state added to the editor area to be more clear on the interaction? Proposed design below:
![proposed - code empty state](https://user-images.githubusercontent.com/18057044/36909247-813cfb7e-1e0b-11e8-875f-cddd2915780a.png)
This matches what we have done in a recent Cockpit [issue](https://github.com/cock

[2018-03-05 19:32] spadgett opened #2871 "Duplicate "Network Policy" items in Other Resource page"
<img width="258" alt="screen shot 2018-03-05 at 2 31 29 pm" src="https://user-images.githubusercontent.com/1167259/36995402-f224496e-2081-11e8-8ce5-3239377a57f4.png">

/assign @benjaminapetersen
/kind bug
/priority p2

[2018-03-05 20:22] spadgett opened #2872 "Can't select text in image stream tags table"
I can't select text in this table because the drag is treated as a click, and the UI navigates to the tag page before I copy.

![openshift web console 2018-03-05 15-20-56](https://user-images.githubusercontent.com/1167259/36997805-d49937ea-2088-11e8-8bdb-1ef2d06dd4b9.png)

/kind bug
/severity p2
/assign @rhamilto

[2018-03-06 13:12] spadgett commented on #2871
Closing since this is tracked by https://bugzilla.redhat.com/show_bug.cgi?id=1551904

@benjaminapetersen I went ahead and made a fix since this is now a blocker needs to get in today.

/assign
/close

[2018-03-06 13:12] #2871 closed

[2018-03-07 14:08] rhamilto commented on #1926
The ideal solution to only show the preferred route(s) requires the addition of an annotation to the route(s).  Given this annotation will only be used for this one specific use case (the display of the route on the overview page of the web console), @spadgett has significant reservations about adding said annotation.  An alternate solution is to simply show more than one route on the overview (up

[2018-03-07 20:45] ncameronbritt commented on #1926
After talking with @spadgett more about this, it seems like it will be necessary to add an annotation to make this work.

Since having an annotation at all seems like a prerequisite to doing anything else, what if we take the first step of allowing template authors, etc to add an annotation to routes that would boost them to the top of the scoring algorithm? Then if necessary, we can circle back o

[2018-03-07 22:31] jorgemoralespou commented on #1926
@ncameronbritt in that case, would you open those issues and link here?

[2018-03-08 16:39] ncameronbritt opened #2884 "indicate that my application has multiple routes associated with it"
In the current overview (list by application), we display a single route for an application regardless of how many routes are actually associated with that application. This is potentially misleading. It may be useful to be able to see all of the routes, or to at least know that there is more than one.
![screen shot 2018-03-08 at 11 29 34 am](https://user-images.githubusercontent.com/8974593/37163

[2018-03-08 16:43] ncameronbritt commented on #1926
@jorgemoralespou Here is an issue for indicating that there are multiple routes associated with an application https://github.com/openshift/origin-web-console/issues/2884

@spadgett Mentioned that we may want to have a card for showing in the collapsed state that a deployment is exposed externally.

[2018-03-08 21:06] rhamilto opened #2886 "Overview displays a max of 2 routes per resource regardless of the number of routes"
Example:

Jenkins has 5 routes associated with its service
![screen shot 2018-03-08 at 4 03 26 pm](https://user-images.githubusercontent.com/895728/37176480-7ce6db74-22ea-11e8-9352-30653558d7ef.PNG)

Only 2 of those 5 routes show on the overview
![screen shot 2018-03-08 at 4 03 15 pm](https://user-images.githubusercontent.com/895728/37176542-a9c0c308-22ea-11e8-9b1b-4540ad89d513.PNG)

[2018-03-09 21:18] ncameronbritt commented on #2868
We have basically this same widget on the config map editors. I wonder how that empty state will feel on those pages. You'd get a new editor with the same empty state for every key-value pair you add.
![screen shot 2018-03-09 at 4 14 00 pm](https://user-images.githubusercontent.com/8974593/37230379-5504be5c-23b5-11e8-84f4-62a49ea55462.png)

[2018-03-09 21:22] ncameronbritt commented on #2868
Not related to this specific issue, but something else that's a little strange in this context is that the value is not the file, as the label implies, but rather the contents of the text editor.

[2018-03-09 21:34] #2886 closed

[2018-03-09 22:08] beanh66 commented on #2868
I feel okay about showing the empty state inside that text area each time the component shows up. I agree the "Value" label is a bit strange. Do we need that or  can we change it to be more inline with the instructions suggested for the Import YAML wizard?

[2018-03-09 22:15] ncameronbritt commented on #2868
The use case here is a little more complicated than import YAML. Here the key and the value together constitute "one thing". And I wonder if users are more likely to type or paste here than on Import YAML.

I mocked up [some ideas](https://redhat.invisionapp.com/share/SJG9H6R7U5V). But again, I think these issues are somewhat tangential to the one you opened here.

[2018-03-13 12:53] rhamilto opened #2892 "DISABLE_SERVICE_CATALOG_LANDING_PAGE: true results in infinite digest loop upon `grunt serve`"
In constants.js, if DISABLE_SERVICE_CATALOG_LANDING_PAGE is set to true, an infinite digest loop occurs upon `grunt serve`-ing the console and the app doesn't fully render.

<img width="1647" alt="screen shot 2018-03-13 at 8 49 25 am" src="https://user-images.githubusercontent.com/895728/37342703-bb68c8a8-269b-11e8-8c9b-60effc5d0406.PNG">

To work around the bug, manually enter https://localhost:9

[2018-03-13 13:06] rhamilto commented on #2892
This appears to be Chrome-specific and related to redirection to login.

[2018-03-13 14:01] dtaylor113 commented on #2892
Hi, I'm having trouble reproducing this.  I changed the value in constants.js and executed `grunt serve`, the Project List page was displayed with no errors:
![image](https://user-images.githubusercontent.com/12733153/37346176-083a9c66-26a5-11e8-8cf1-1a4b26f9933f.png)
URL is `https://localhost:9000/dev-console/catalog` but it correctly redirects to Project List.
Chrome Version 62.0.3202.94 (Offici

[2018-03-13 14:06] rhamilto commented on #2892
@dtaylor113, I'm seeing the bug when I run `grunt serve` and the browser tab gets opened.  Do you have another tab that has an active session?

You may be correct that `DISABLE_SERVICE_CATALOG_LANDING_PAGE` is going away.  @spadgett?

It's also possible this bug only affects developers of the console?

[2018-03-13 14:10] dtaylor113 commented on #2892
@rhamilto, yes for me a new browser tab does open, and loads the Project List page.
It would be good to understand the impact of this;  is it really a P1?  -thanks

[2018-03-13 14:12] rhamilto commented on #2892
@dtaylor113, I can also reproduce by manually changing my URL to https://localhost:9000/dev-console/ in Chrome's address bar.

[2018-03-13 14:16] spadgett commented on #2892
@rhamilto and @dtaylor113 Do either of you have a console homepage set? Might be related.

We should remove this option and the old catalog. The problem is some of our tests depend on them, so they'll need to be updated.

[2018-03-13 14:17] dtaylor113 commented on #2892
@rhamilto, unfortunately, not for me.  I enter https://localhost:9000/dev-console/ and it correctly redirects to https://localhost:9000/dev-console/catalog and loads the Project List.

[2018-03-13 14:20] rhamilto commented on #2892
Bingo.  That's the culprit.  I didn't realize it, but mine was set to "My Projects List".  So the bug is not browser-specific, it's specific to having a home page set.

[2018-03-13 14:23] dtaylor113 commented on #2892
@rhamilto, @spadgett, ok, thanks, I see it now

[2018-03-13 14:25] dtaylor113 commented on #2892
@spadgett, so is the fix to remove this option from constants.js and app.js, or make it work with `DISABLE_SERVICE_CATALOG_LANDING_PAGE`  -thanks

[2018-03-13 14:30] dtaylor113 commented on #2892
nvm, I have a simple fix.

[2018-03-13 19:51] beanh66 commented on #2868
Thanks @ncameronbritt, I like your ideas and good question on the expectations here. I like a combination of things from your Invision screens. The line separator, better spacing, and moving the links. Wondering if it also makes sense to move the syntax help into a tooltip on an info icon, either a single one at the top or adding them to the fields individually. Adding a mock of what I mean below:

[2018-03-13 20:12] ncameronbritt commented on #2868
I think it probably makes sense to separate the empty state for the text editor from this key-value editor. I believe @dtaylor113 is working on a similar editor for creating generic secrets.

Re. the helper text, I don't feel strongly one way or the other about using field-level help here. I'm not 100% convinced the Key field needs it at all. We do validation, so if you enter a duplicate key, you'

[2018-03-13 21:01] ncameronbritt opened #2895 "Deploy image wizard should provide a list of tags for an image stream"
If I attempt to deploy an image from an Image Stream Tag, I should see a list of tags once I select a namespace and image stream. As a user, I would expect that if I can see namespaces and image streams listed in their respective dropdowns, then I should be able to see tags as well.

As things are implemented now, I have to know the tag, type it and hit enter for the image metadata to be loaded. A

[2018-03-13 23:36] spadgett commented on #2892
I'm going to make this a P2 since this isn't a documented / supported extension.

[2018-03-14 00:03] #2892 closed

[2018-03-14 14:38] ncameronbritt commented on #2895
So this works for me today, but it didn't yesterday...

[2018-03-14 16:17] spadgett commented on #2895
@ncameronbritt I suspect you hadn't yet pushed to a tag yesterday if you just deployed the template. The list will be empty if no tags exist yet. Maybe the answer is to make it more clear when that's the case.

IIRC, It is possible to type a tag name that doesn't exist yet in this dialog.

[2018-03-14 17:18] ncameronbritt commented on #2895
I believe I was having the same thing even from the openshift namespace yesterday. Maybe it was just some weird anomaly? I'll close this and reopen if I hit it again.

[2018-03-14 17:18] #2895 closed

[2018-03-14 17:20] dtaylor113 opened #2896 "Handle Binary Content for Generic Secrets"
Related #2879

In Create Generic Secret we are storing key-pair values in `secret.stringData = data.genericKeyValues.data;`.   Since the 'value' can be uploaded from a file which has base64, we need to store those values in `secret.data` as opposed to `secret.stringData`.

[2018-03-15 15:13] dtaylor113 commented on #2868
Hi @ncameronbritt, I like [your ideas](https://redhat.invisionapp.com/share/SJG9H6R7U5V) which remove the textbox for Value, that IMO is the confusing part.  New users (like myself) tend to try to type something into that Value textbox, when (as you pointed out) the the actual 'value' is the contents of the text area (which can be directly entered or uploaded from a file).

So in this sense, I'm n

[2018-03-15 15:23] ncameronbritt commented on #2868
Seems like we should queue this up for the next design review.

I wonder if users are more likely to be typing or pasting into the editor for these key-value pairs than for the import YAML option. I know that all are *possible* for both cases, but which are most likely.

[2018-03-15 15:39] dtaylor113 commented on #2868
Also, @spadgett mentioned that users can upload file contents with base64/binary data, not sure how that looks in the textarea/editor.

[2018-03-15 15:46] ncameronbritt commented on #2868
I think it's also worth noting--and the directions on the config map page now sort of spell this out--that you're using the *contents* of a file. Let's say I use a file for the value when I create my config map. If I go back to edit it, there's no indication of what that file was, or even that it came from a file. It's only the contents.

[2018-03-15 19:25] gitlet commented on #1902
Hi! I understand Bower deprecation to an extent (but donno why is it being done so..internally..), so I tried & migrate to "yeoman" instead. .both of which are build tools for frontend. But, please let me know as to why do we need to abondone npm & start using yarn..?

[2018-03-15 19:48] beanh66 commented on #2868
Yeah I see what you mean @ncameronbritt since the name of the file is irrelevant, the contents are important. Curious what @gdoyle1 is thinking for the import file pattern. I know she had some examples that used the Browse link style too. It's more dev work to change the component I'm guessing but seems like it is worth exploring.

[2018-03-15 20:34] benjaminapetersen commented on #1902
You shouldn't have to care about this, `bower` still works.  We will be migrating at some point, but will doc any changes once that work is complete.

[2018-03-16 17:34] spadgett commented on #2868
Secrets (and in 3.10 config maps too) can have binary content, so we might have to show something else in place of the text area when the file has non-printable characters.

[2018-03-19 14:41] spadgett commented on #2896
/assign
/priority p2

[2018-03-19 16:31] spadgett commented on #2884
/area usability
/assign @ncameronbritt
/priority p2

[2018-03-19 16:33] spadgett commented on #2868
/assign @dtaylor113
/area usability
/priority p2

[2018-03-19 16:45] spadgett commented on #2866
Closing since this is a question and we haven't heard back. Let us know if you still need help.

/close

[2018-03-19 16:45] #2866 closed

[2018-03-19 16:47] #2815 closed

[2018-03-19 16:56] spadgett commented on #2645
@dobbymoodge Maybe just

Web Console for the OpenShift Application Platform  https://www.openshift.org/

[2018-03-19 17:16] dobbymoodge commented on #2645
Done

[2018-03-19 17:16] #2645 closed

[2018-03-19 19:04] #2896 closed

[2018-03-20 13:04] spadgett commented on #2397
I'm not seeing this anymore.

/close

[2018-03-20 13:04] #2397 closed

[2018-03-20 13:07] spadgett commented on #1977
This has since been fixed.

/close

[2018-03-20 13:07] #1977 closed

[2018-03-21 18:06] ncameronbritt opened #2907 "No line separator under select project for service catalog items"
On  the configuration step for provisioned services there is no line separator under the select project dropdown. There is for builders.

Service:
![screen shot 2018-03-21 at 1 42 48 pm](https://user-images.githubusercontent.com/8974593/37728544-ed94cd9c-2d10-11e8-981a-13698c6fe90c.png)

Builder:
![screen shot 2018-03-21 at 2 02 26 pm](https://user-images.githubusercontent.com/8974593/37728539-e83

[2018-03-21 18:19] spadgett commented on #2907
/assign @dtaylor113
/area styles
/priority p3
/kind bug

[2018-03-21 18:24] beanh66 commented on #2907
We also use the line separator in the Deploy Image and Import YAML wizards. It's nice when "Create Project" is selected since that area then becomes 4 fields related to the project.

[2018-03-21 19:09] rhamilto commented on #2864
Fixed by origin-web-common version bump in #2905

[2018-03-21 19:09] #2864 closed

[2018-03-21 20:19] dtaylor113 commented on #2907
Ok, I see the logic flaw in Order Service and why the divider isn't being show.
The divider does appear for Create from Builder, Deploy Image, Import YAML, and Create from Template.

[2018-03-23 11:54] spadgett opened #2912 "Console merge queue is broken due to change in cluster up flags"
`--version` has been replaced with `--tag` in 3.10+. This likely affects the origin-web-console-server repository as well.

See https://github.com/openshift/origin/pull/18938

/assign @jhadvig

[2018-03-23 11:56] spadgett commented on #2912
@jwforres FYI

[2018-03-23 11:59] spadgett commented on #2912
Broken for the origin-web-console-server job as well:

https://github.com/openshift/aos-cd-jobs/blob/2c26c7acaae3503a3b48ec13477bf636e897bb20/sjb/config/test_cases/test_branch_origin_web_console_server_e2e.yml#L19

[2018-03-23 12:26] spadgett opened #2913 "Runtime errors loading built console"
The console does not load due to these errors:

[code]

/assign
/kind bug
/priority p0

[2018-03-23 12:28] spadgett commented on #2913
Might be related to #2905

[2018-03-23 13:46] jhadvig commented on #2912
PR: https://github.com/openshift/aos-cd-jobs/pull/1271

[2018-03-23 13:47] jhadvig commented on #2912
Shall I update it in [test_branch_origin_service_catalog.yml](https://github.com/openshift/aos-cd-jobs/blob/2c26c7acaae3503a3b48ec13477bf636e897bb20/sjb/config/test_cases/test_branch_origin_service_catalog.yml#L69) and [test_pull_request_origin_service_catalog.yml](https://github.com/openshift/aos-cd-jobs/blob/2c26c7acaae3503a3b48ec13477bf636e897bb20/sjb/config/test_cases/test_pull_request_origin_

[2018-03-23 15:21] rhamilto opened #2915 "Resource type heading could use a bit of space below it"
For example, "Deployments" sits right on top of the first row.

<img width="996" alt="screen shot 2018-03-23 at 11 18 23 am" src="https://user-images.githubusercontent.com/895728/37837682-3ce99680-2e8c-11e8-9c90-1f5254d1543e.PNG">

[2018-03-23 16:00] spadgett commented on #2912
Fixed by https://github.com/openshift/aos-cd-jobs/pull/1271

[2018-03-23 16:00] #2912 closed

[2018-03-23 16:14] spadgett commented on #2915
Seems to be a regression since 3.9.

[2018-03-23 17:08] #2913 closed

[2018-03-23 17:20] rhamilto commented on #2915
I'm guessing I caused it with the route display change on the Applications view.  SMH.  Will fix.

[2018-03-26 14:22] #2915 closed

[2018-03-27 07:55] marusak opened #2919 "[RFE] Display problems from pods"
We, in ABRT team, focus on catching, processing and reporting problems. For now our main focus were servers and workstations. Sometime ago we started to support catching core problems from containers. Now we successfully showed how we can catch exceptions from interpreted languages from containers as well.[1] That means, that now we can fully inform about what is not behaving correctly in containe

[2018-03-27 13:56] #2858 closed

[2018-03-27 15:59] #2907 closed

[2018-03-27 19:28] spadgett commented on #2919
Are the problems captured as events in Kubernetes? Or some other way? I think that would change how we present them. It's not clear to me from the mocks since sometimes they're displayed with events and sometimes displayed separately.

@openshift/team-ux-review

[2018-03-27 19:56] marusak commented on #2919
The problems are available in logs. Other tools (for example node-problem-detector, ABRT etc...) can parse these logs. The same approach was in my mind for the console.

The mock-up with events was just idea, I am not sure how those work. I am pretty sure that it can be displayed in pods as seen in mock-ups 2 and 3.

[2018-03-28 16:04] spadgett opened #2928 "Image streams and templates show up twice in `openshift` project"
Both image streams and templates are duplicated in the `openshift` project. They should only show up once.

/assign
/kind bug
/priority p2

[2018-03-28 16:10] spadgett commented on #2928
Making this a P1 since it's a runtime error (duplicates in a repeated not allowed).

[2018-03-28 20:01] ncameronbritt commented on #2919
I'm not sure what the correct level to surface this kind of information is. We have logs for the pods, so that level makes sense to me. How would users be made aware of these problems, or how would they know they need to look at their pods?

Currently events and warnings are more at the platform level, and a user can take action through the platform to do something about these problems. That doesn

[2018-03-29 14:00] beanh66 commented on #2919
@marusak I'm also curious if you have seen the notification drawer or interacted with it at all? Right now the drawer is not configurable but I wonder if it would be possible in the future to allow users to configure the types of events they want to be notified about.

<img width="1391" alt="screen shot 2018-03-29 at 9 59 26 am" src="https://user-images.githubusercontent.com/18057044/38093075-e784

[2018-03-29 16:38] AllezWiggo opened #2930 "Unable to delete provisioned services (postgresql ephemeral and persistent)"
I provisioned a postgresql ephemeral instance and later tried to do the same with persistent but now none are getting deleted. The deployments, services and pods are deleted, just the provisioned services are stuck in pending. I could not find any oc command to work with provisioned services. Any help?
![provisionedsvcs-postgresql](https://user-images.githubusercontent.com/37102916/38101345-a1d51f

[2018-03-29 16:40] spadgett commented on #2930
cc @pmorie @jwmatthews @bparees

@AllezWiggo What OpenShift version are you running?

[2018-03-29 16:42] AllezWiggo commented on #2930
Origin 3.7

[2018-03-31 06:17] marusak commented on #2919
Hi @ncameronbritt

Agree. Pods is the correct place to show this, no doubt about that.

Great question. I was thinking about that and I came up with showing it in `Monitoring`  both in events and by pod name (triangle that there is something wrong, see first mockup). However I am not very satisfied with it, I was only showing my ideas.  And as you explained, events seem not to be the correct place

[2018-04-02 07:50] jeetdutta10 opened #2931 "Application deployment issue in openshift container platform 3.6"
Post installation of openshift container platform 3.6 (running on RHEL 7.4 , Docker version 1.12.6 and ansible version 2.4) which was done using ansible playbook, we are getting below issue while deploying the below application.In our Environment we have two servers:
Server1: master + 1 node
Server2: 1 node

**Error message:**
Running post commit hook ...
sh: cannot set terminal process group (-1)

[2018-04-03 09:31] siamaksade opened #2932 "Deleting pipeline changes view to builds"
When user on **Builds > Pipelines** view, clicks on a pipeline and from the **Actions** menu, clicks on **Delete** to delete the pipeline, after deletion the view changes to the list of **Builds**. It should go back to the list of **Pipelines**

## Version
oc v3.9.14
kubernetes v1.9.1+a0ce1bc657
features: Basic-Auth

Server https://52.208.176.25:8443
openshift v3.9.14
kubernetes v1.9.1+a0ce1bc657

[2018-04-04 20:32] spadgett commented on #2932
/assign
/kind bug
/priority p2

[2018-04-04 20:37] spadgett commented on #2931
@jeetdutta10 This doesn't seem specific to the web console, which this repository is for. I'd either ask in the openshift users mailing list or open an issue in the openshift/origin repository.

https://lists.openshift.redhat.com/openshiftmm/listinfo/users
https://github.com/openshift/origin/issues

cc @bparees

/kind question
/close

[2018-04-04 20:37] #2931 closed

[2018-04-09 08:09] marusak commented on #2919
ping @spadgett @ncameronbritt Do you agree with my last comment? Can I start working on this?

[2018-04-09 15:39] ncameronbritt commented on #2919
IMO this should be discussed at a higher level in terms of how/whether/where this feature is integrated into the console, particularly as we look to integrate with the Tectonic console. Thoughts @jwforres ?

[2018-04-12 18:48] spadgett opened #2947 "Update docs with guidelines for broker authors"
We need guidelines around what service metadata the console supports to make service catalog services look good in the OpenShift catalog UI. It should cover content like images, data URIs, description, etc.

cc @pmorie @jwforres

[2018-04-16 09:35] sedroche opened #2957 "Allow configuration of binding metadata from binding creation modal"
As part of ongoing mobile work we would like to be able to configure the metadata applied to ServiceBindings on creation. The plan is to add labels or annotations to the ServiceBinding to be able identify and then work with that specific binding.

We would like to reuse the current creation modal but this creates a non-configurable ServiceBinding.

The current workflow uses the [bindService compon

[2018-04-19 15:37] david-martin commented on #2694
I hit this issue too locally.
Turns out I needed to have cloned the origin-web-console-server repo to within my $GOPATH
e.g. `/home/user/go/src/github.com/origin-web-console-server`

where $GOPATH is `/home/user/go`

[2018-04-20 14:52] bdshadow opened #2972 "Web-console displays wrong state of resources (projects)"
I'm not sure where to report it better - here or to the [origin](https://github.com/openshift/origin).

**Steps to reproduce**

1. Create project in https://console.engint.openshift.com
2. Create some applications (the many you create, the better - to load the server).
3. Go to "All projects" page https://console.engint.openshift.com/console/projects
4. Delete project
5. After project has disappea

[2018-04-21 14:47] serenamarie125 opened #2973 "No indication of sort order on many of the OpenShift Console pages"
When there is no sort action is not available on a page, there is no sort indicator for primary, and it looks like in some cases secondary sort is also used but not indicated.

Since the sort order is different for many pages, this presents a usability issue.

[2018-04-21 14:56] serenamarie125 opened #2974 "Sorting action should be available on OpenShift Console pages"
A sort action should be available on OpenShift console pages.  Currently it's omitted from the majority of pages.

Including sort capability will improve the user experience.

Associated design GH Issue: https://github.com/openshift/openshift-origin-design/issues/86

[2018-04-21 19:24] danscarf opened #2975 "How does one limit who can log into the web console?"
Using the latest released OpenShift CLI:
https://github.com/openshift/origin/releases/download/v3.9.0/openshift-origin-client-tools-v3.9.0-191fece-linux-64bit.tar.gz

I started a containerized cluster via this command:
https://docs.openshift.org/latest/getting_started/administrators.html#running-in-a-docker-container

#> oc cluster up --public-hostname=#####.### --host-data-dir=/opt/openshift/os-d

[2018-04-23 10:47] jhadvig commented on #2972
Dont think this is a web-console issue, since all we do is a `ProjectVersion` request where response is '409 Conflict', which we translate to user with `This name is already in use. Please choose a different name.` message.
It takes couple of seconds to be able to recreate the project. This could be caused by etcd not updated quickly enough.
Also since the response is not carrying any info regardi

[2018-04-23 11:50] spadgett commented on #2972
This is not specific to the web console, so would be better opened against origin (or as a Bugzilla). You'll see the same behavior with the CLI.

Note that if you wait a little while, you will be able to create the project against.

@liggitt or @deads2k could explain why there's a delay

[2018-04-23 11:53] liggitt commented on #2972
Project deletion includes deletion of all resources in the namespace, which is done asynchronously.

After the rolebinding giving you visibility to the project is deleted, it will disappear from your list of projects, but the underlying namespace will still exist for a short time while the remaining resources are deleted

[2018-04-24 14:18] spadgett opened #2977 "Duplicate IDs on BC edit page"
![openshift web console 2018-04-24 10-17-19](https://user-images.githubusercontent.com/1167259/39193081-b57a4d8a-47a8-11e8-9607-cc405164d458.png)

/assign @spadgett @jhadvig
/kind bug
/priority p3

[2018-04-24 14:22] #2975 closed, assigned to spadgett

[2018-04-24 14:44] spadgett commented on #2930
/assign @jwmatthews @pmorie

Paul, John, following up on this. This is either a template service broker issue or a service catalog issue. I know some bugs have been fixed in this area.

[2018-04-25 10:44] bdshadow commented on #2972
@liggitt i understand it, however in my opinion it's a bug - i'm showed that there's no such project, when indeed it still exists
@spadgett i understand that waiting for while solves the problem, but it's a way to deal with this bug. It's a workaround.
@jhadvig

user also doesn't know the state of the project, he only sees what web-console displays to him\her. And displays incorrect information.

[2018-04-25 14:23] spadgett opened #2979 "Image stream image link broken on the image stream details page"
The link is broken in the "From" column of the image stream tag tables for tags that reference image stream images.

We don't have a dedicated image stream image page in the OpenShift console, so this should be changed so it's not a link in our console. Note that this is a shared component from

https://github.com/cockpit-project/registry-image-widgets

/kind bug
/priority p2
/assign @jhadvig

@jh

[2018-04-30 12:30] spadgett commented on #2930
@bevinhex Do you have any bindings? You should make sure those are deleted first.

You can try to remove `metadata.finalizers` from the instance as a workaround. Note that this can prevent resources being cleaned up for external services, but it should be OK for template service broker.

[2018-04-30 13:13] bevinhex commented on #2930
Worked , thanks

[2018-05-02 02:29] rezie opened #2982 "Enabling TSB causes service catalog to lose support for multiline parameters"
After enabling TSB (upgrading from 3.6 to 3.7.1), it doesn't look like it's possible to supply multiline values into template parameters anymore. Is this something that will be supported down the line?

Currently the only way for us to re-enable this feature is to use the "Select from Project" menu option. However, default users (i.e. without any extra roles added, such as `cluster-admin`) do not

[2018-05-02 17:33] dymurray opened #2983 "Dashboard URL is hardcoded to simply be "Dashboard""
When provisioning a service bundle the dashboard URL can be populated and sent back to the service catalog. Currently, the web console simply checks if it's present and displays `Dashboard' (https://github.com/openshift/origin-web-console/blob/master/app/views/overview/_service-instance-row.html#L67). We would instead prefer this to be populated with the actual value of `row.apiObject.status.Dashb

[2018-05-02 19:30] ncameronbritt commented on #2983
Using `Dashboard` is consistent with what we do for Documentation and Support links that are associated with the service. I don't necessarily have a problem with it, but it would be helpful to understand why seeing the dashboard URL would is preferable.

If we made this change, the dashboard URL would require a label, and would affect the designs for the project overview (collapsed and expanded ro

[2018-05-02 19:44] ncameronbritt opened #2984 "Add Documentation, Support and Dashboard links to Service instance details pages"
We show these links on the wizard results and in the overview, but not on the details pages.

Does it make sense (at least as a quick fix) to put the `View Documentation`, `Get Support`, etc links underneath the Description, just as we do for the expanded rows in the Overview?

![screen shot 2018-05-02 at 3 44 01 pm](https://user-images.githubusercontent.com/8974593/39545599-b206c4b2-4e1f-11e8-8f6

[2018-05-02 19:56] serenamarie125 commented on #2984
@ncameronbritt makes sense for them to be in the wizards, overview and detail page.

I'm running on Online, and don't see the same view you are - were these links added to the overview this release?

[2018-05-02 19:58] ncameronbritt commented on #2984
@serenamarie125 No, they've been there. Online is not using the service catalog, that's why you're not seeing them.

[2018-05-03 14:44] spadgett commented on #2581
Now tracked by https://bugzilla.redhat.com/show_bug.cgi?id=1574559

/close

[2018-05-03 14:44] #2581 closed

[2018-05-03 14:55] odra opened #2985 "field display_type property "textarea" being shown as regular input field in update view"
Hello,

I have defined the following parameter in my apb plan:

[code]

The field is shown as a textarea html field when provisioning a new service but it is shown as a regular input html field when I click on the "edit" button in the service details:

![screenshot from 2018-05-01 12-29-04](https://user-images.githubusercontent.com/2183506/39479347-5bb90154-4d3b-11e8-8986-a804482dfb02.png)

Is thi

[2018-05-03 15:45] spadgett commented on #2985
@odra I'd start at https://github.com/openshift/ansible-service-broker

/assign @jwmatthews

[2018-05-04 12:36] beanh66 commented on #2984
@ncameronbritt makes sense to me!

[2018-05-04 16:15] odra commented on #2985
@spadgett I was taking a look at the origin-web-catalog code:

I changed this line: https://github.com/openshift/origin-web-catalog/blob/master/src/components/update-service/update-service.controller.ts#L304 to:

[code]

The `update` object  was empty while the `create` one had all the field info but should the update object contain the list of updatable fields?

[2018-05-05 15:13] ducpham1996 opened #2988 "Unable to mount volumn to pod"
##### Version: starter-ca-central-1
##### Steps To Reproduce
1. Add storage to the deployment
2. Wait for deployment processes
##### Current Result
Binding persistent storage failed.
##### Expected Result
Mount volume successfully

[2018-05-06 01:28] #2988 closed

[2018-05-07 13:07] ImanMh opened #2990 "add a build diff section"
In builds > {project} > {build number} menu there is a Builder Image section that I can use to see which version I'm building. There could be  another field like that:

[code]

so I can copy paste this to my git console to see what I'm about to deploy.

[2018-05-09 18:24] tobiasrdm opened #2991 "Increase DeploymentConfig name maximum length to 63 characters in Web Console"
In Openshift Web Console, the DeploymentConfig name is limited to 24 characters. But in `oc` command line the maximum length is 63 characters.

It's needed to increase the Web Console limit to match the `oc` command line.

Verified in Openshift version 3.7.

[2018-05-09 18:57] tobiasrdm commented on #2991
In the source code there are 4 points with limit to 24 characters: https://github.com/openshift/origin-web-console/search?utf8=%E2%9C%93&q=maximum+length+of+24+characters&type=

[2018-05-10 18:36] spadgett commented on #2991
The limit was originally there since service names could only be 24 characters. It looks like that's no longer the case, so we should be able to increase it to 63. (Thanks for letting us know about that.)

[2018-05-10 18:36] spadgett commented on #2991
/kind bug
/assign
/priority p2

[2018-05-10 18:49] spadgett commented on #2991
This does seem to break generated routes however since the service name + routing suffix is longer than 63 characters. I'm not sure the best way around that.

[2018-05-11 20:21] benjaminapetersen opened #2995 "Multiple DOM nodes with id #search-input throw an error"
Error in console:

![screen shot 2018-05-11 at 4 18 05 pm](https://user-images.githubusercontent.com/280512/39945083-1d3e84a4-5537-11e8-906b-87433af565a0.png)

One is in `origin-web-common`:

[code]

As far as I can tell, this is the only one, I don't see another in `console`, or `common`, so guesing might be a double-render bug.

[2018-05-14 13:36] mortentangen opened #2997 "Show image tag when listing "Image:" in deployment config"
Currently only `namespace/imagename` is listed in the web interface when the image is on the form `registry/namespace/imagename:tag`.
According to the filter `imageStreamName` (https://github.com/openshift/origin-web-console/blob/master/app/scripts/filters/resources.js#L87) the tag is always omitted exept when the image only contains one forward slash (`repo/imagename:tag`).
This makes it hard to

[2018-05-14 18:38] benjaminapetersen opened #2999 "jshint seems to be broken"
Conversation that spawned the issue:  https://github.com/openshift/origin-web-console/pull/2998/files/c806e7fbec2a71c00fdb1e8ef654543b9d10b43a#discussion_r188018947

I don't think we want to manually review for `;` & other things like this, our linter should pick it up.

[2018-05-14 18:38] benjaminapetersen commented on #2999
@spadgett

[2018-05-14 18:39] benjaminapetersen commented on #2999
Not sure how high to prioritize.  Not important until we miss something that causes an error in a random browser. :/

[2018-05-15 19:33] dymurray opened #3001 "Cannot access web console with latest `oc cluster up`"
I am seeing the following error when trying to access the web console when running:
`oc cluster up --public-hostname=172.17.0.1 --enable=service-catalog,template-service-broker,router,registry,web-console,persistent-volumes,sample-templates,rhel-imagestreams`.

When I go to accept the insecure cert the browser redirects me to 127.0.0.1:8443, then I accept that cert and it redirects me to 172.17.0.

[2018-05-15 19:38] spadgett commented on #3001
@dymurray If you check `oc describe configmaps - n openshift-web-console`, does `consolePublicHostname` match what you provied in `--public-hostname`?

cc @deads2k

[2018-05-15 19:47] dymurray commented on #3001
@spadgett Not it does not. It is set to `https://127.0.0.1:8443/console`

[2018-05-15 19:47] jmontleon commented on #3001
Same here:

oc describe configmaps -n openshift-web-console
Name:         webconsole-config
Namespace:    openshift-web-console
Labels:       <none>
Annotations:  <none>

Data
====
webconsole-config.yaml:
----
{"kind":"WebConsoleConfiguration","apiVersion":"webconsole.config.openshift.io/v1","servingInfo":{"bindAddress":"0.0.0.0:8443","bindNetwork":"tcp4","certFile":"/var/serving-cert/tls.crt","ke

[2018-05-15 19:51] jmontleon commented on #3001
For workaround if I set consolePublicHostname to https://172.17.0.1:8443/console and restart the web console container it works again.

[2018-05-16 11:55] spadgett commented on #3001
/assign @deads2k

[2018-05-17 06:46] #3001 closed

[2018-05-23 01:44] cevn commented on #114
I'm having this issue now despite having all sorts of redirect URI's in `oc edit oauthclient openshift-web-console`.

[2018-05-29 11:25] fabiand opened #3007 "Generic CRD support"
We had CRDs, now with Operators even more: Can the web console gain generic CRD support?

At best generic CRD and optional bundling of CRD/Operator + plugin to Web Console.

I think it's pretty optimistic to assume that every CRD will have it's own UI, thus having generic support would be good. At least to see what's going on on the cluster.

[2018-05-30 06:04] dove-young opened #3008 "web console try to load resource from 10.1.135.64 through my browser"
I am trying OpenShift  v3.7.2-282e43f on RHEL 7.4.  Docker version 17.06.2-ce

I started openshift via `openshift start`.  I can login via `oc` and run applications in it.

When I tried to access to the web consolse, I was stuck and redirected to this URL after timeout.

https://10.1.135.64:8443/oauth/authorize?client_id=openshift-web-console&response_type=code&state=eyJ0aGVuIjoiLyIsIm5vbmNlIjoiMT

[2018-05-30 07:48] cmoulliard commented on #2758
I still experiment the infinite loop after changing :

- corsAllowOrigins (modified within master-config.yaml file)

[code]
- ConfigMap of the openshift-web-console

[code]

[2018-05-30 12:40] spadgett commented on #3008
You should pass `--public-hostname` to `openshift start` to use a different hostname. But I'd recommend either using `oc cluster up` if you are setting up a local cluster for development or openshift-ansible if you're setting up a production cluster.

/assign
/kind question

[2018-05-30 12:51] spadgett commented on #2758
@cmoulliard Does this regex work?

[code]

[2018-05-30 13:39] cmoulliard commented on #2758
No luck using

[code]
Same issue

Do I have to recreate the webconsole pod after executing `docker restart origin`? @spadgett

[2018-05-30 14:47] spadgett commented on #2758
It looks like your master public URL is wrong. That response is from the web console server, not from the master.

[2018-05-30 17:44] spadgett commented on #2758
consolePublicURL = the URL of the web console itself
masterPublicURL = the URL of the API server the console talks to

I think your case you'd just leave `consolePublicURL` as-is and update the `masterPublicURL` to `https://192.168.65.5:8443` (unless I misunderstand the question)

[2018-05-30 20:12] spadgett commented on #3007
CRDs should show up under Resources -> Other Resources. This gives some minimal support in the UI. At least you can list them and edit YAML.

We are working on converging OpenShift console and Tectonic console, which also has better support for CRDs as well as other admin features.

[2018-05-31 09:55] cmoulliard commented on #2758
If we define the `masterPublicURL` to `https://192.168.65.5:8443`, then the user will be redirected to the address `https://192.168.65.5:8443/login....` to be authenticated

Question : What should we do to avoid to expose openshift at the address `192.168.65.5:8443` but instead under `name.192.168.65.5.nip.io` ? Why : As some Firewall blocks the port `8443`, then it is required to customize ocp (w

[2018-05-31 15:29] spadgett commented on #2758
Makes sense, but the API server needs to be reachable at that host/port. A route in front of the web console service only exposes the web console itself, not the master.

The typical way to set this up with openshift-ansible is to set the right inventory vars for public hostname and port:

https://docs.openshift.org/latest/install_config/install/advanced_install.html#configuring-cluster-variables

[2018-06-05 17:00] #688 closed

[2018-06-05 17:08] #1695 closed

[2018-06-05 17:11] #2808 closed

[2018-06-05 17:13] #2613 closed

[2018-06-05 17:30] cshinn commented on #2808
@spadgett a good way around this may be to knock empty sections to the bottom of the list. That way, we still communicate the same message, but actual results are always visible/prioritized.

[2018-06-07 16:19] spadgett opened #3012 "Integrity check fails for ariya/esprima when running npm install"
Best I can tell, jshint references a fork of esprima (master branch?) that can cause integrity checks to periodically fail when running `npm install`. Looks like we have an old version of jshint.

From package-lock.json:

https://github.com/openshift/origin-web-console/blob/master/package-lock.json#L4847-L4864

[code]

Ben, can you take a look?
/assign @benjaminapetersen

@smarterclayton fyi

[2018-06-07 17:19] benjaminapetersen commented on #3012
Sure thing!  Have that dump of the integrity check handy?

[2018-06-07 20:00] benjaminapetersen commented on #3012
Leaning towards bumping `grunt-contrib-jshint` to `1.1.0` (its only one bump) and letting it take care of the dependencies.  Looking over the whole `grunt-contrib-*` block to see if we want to keep them in sync for any reason:

[code]

[2018-06-08 02:18] eric-hon opened #3014 "origin-web-console cannot access from outside"
version: origin 3.9.0， origin-web-console 3.9.0，docker 1.13.1
myhost IP: 192.168.2.86 dev1，centos 7.5 1804;
hostname: dev1
i try this:
oc cluster up --public-hostname=192.168.2.86
and cd origin-web-console  code dir,modify app/config.js two lines:
var masterPublicHostname = '192.168.2.86:8443';
var devConsoleHostname = '192.168.2.86:9000';

oc edit oauthclient openshift-web-console to see the file

[2018-06-08 06:58] eric-hon commented on #513
i have a cluster:
master: 192.168.2.80
node1: 192.168.2.81
node2: 192.168.2.82

the code origin-web-console on the master,an i change masterPublicURL to 192.168.2.80 on /etc/origin/master/master-config.yaml,
i set openshift start --write-config=/opt/test --public-master=192.168.2.80
the

the oc edit oauthclient openshift-web-console is:
redirectURIs:
- https://192.168.2.80:8443/console/
- https://

[2018-06-08 08:19] eric-hon commented on #3014
i also have a cluster:
master: 192.168.2.80
node1: 192.168.2.81
node2: 192.168.2.82

the code origin-web-console on the master,an i change masterPublicURL to 192.168.2.80 on /etc/origin/master/master-config.yaml,
i set openshift start --write-config=/opt/test --public-master=192.168.2.80
the

the oc edit oauthclient openshift-web-console is:
redirectURIs:

https://192.168.2.80:8443/console/
https:

[2018-06-08 12:19] spadgett commented on #3014
When you say you "cannot access" the console, do you mean you see connection refused?

/kind question
/assign

[2018-06-08 15:15] benjaminapetersen commented on #3012
Currently, the `espirma` `"integrity": "sha512-W5+ntA5gmz..."` is under the
`dependencies` of `htmlhint` `"version": "0.9.6"`, which is under the dependency of
our `grunt-htmlhint` `"version": "0.4.1"`.  I'm going to bump our `grunt-htmlhint`
as well && see if that solves us.

For clarity:

[code]

[2018-06-08 17:16] spadgett opened #3015 "Container status should be sorter by order"
Init containers -> Containers, both sorted by the order they appear in the pod definition. We have tools and cli patterns that prioritize the first container, and we want sidecars to be later in the list.

cc @smarterclayton
/kind bug
/area usability
/priority p2

[2018-06-09 01:32] eric-hon commented on #3014
yes,the browser was refused,no found the host.but the 8443 is OK.

[2018-06-09 12:18] spadgett commented on #3014
It needs to take you to the login page, which is part of the master, so this is expected. After you login, does it take you back to https://192.168.2.80:9000/ ?

[2018-06-09 13:30] eric-hon commented on #3014
yes,the cluster is back to login page

[2018-06-10 08:03] wissamir commented on #114
I'm having too the same issue above
in my configuration I have 3 master nodes behind a load balancer
oc get nodes -l node-role.kubernetes.io/master=true
NAME      STATUS    ROLES     AGE       VERSION
oso1      Ready     master    4d        v1.9.1+a0ce1bc657
oso2      Ready     master    4d        v1.9.1+a0ce1bc657
oso3      Ready     master    4d        v1.9.1+a0ce1bc657

and editing oauthclient

[2018-06-11 09:30] eric-hon commented on #3014
i solved it , because the firewalld,i stop it. thanks!

[2018-06-11 13:11] spadgett commented on #3014
Glad you got it working. Good luck!

/close

[2018-06-11 13:11] #3014 closed

[2018-06-11 14:29] spadgett commented on #3012
You should be able to reproduce this currently on the enterprise-3.9 branch.

[2018-06-14 11:33] eric-hon opened #3027 "the source code origin-web-console can't connect to cluster(use ansible-playbook)"
use ansible-playbook install the cluster is:
192.168.2.60  master-avit-1
192.168.2.61  node-avit-1
192.168.2.62  node-avit-2
and "oc edit oauthclient openshift-web-console" is:
redirectURIs:
\- https://master-avit-1:8443/console/
\- https://192.168.2.60:9000
on the source app/config.js:
var masterPublicHostname = '192.168.2.60:8443';
var devConsoleHostname = '192.168.2.60:9000';
run it:
grunt serv

[2018-06-14 12:10] spadgett commented on #3027
I would guess you have a firewall blocking the request from other hosts.

/kind question

[2018-06-14 14:40] benjaminapetersen commented on #3012
@spadgett do you think #3023 is sufficient, or also #2863, or something beyond?
I'm not sure if we have a clear path forward that makes sense.

[2018-06-14 15:31] spadgett commented on #3012
I think removing package-lock.json is probably the best thing short term. The "right" fix IMO is to switch from grunt -> webpack and jshint -> eslint, but I'm not sure how much effort to put in that since we're switching to the openshift/console base. (I don't like that we're stuck on old versions of things because we're tired to grunt.)

[2018-06-14 15:58] benjaminapetersen commented on #3012
Agree.  So maybe we are happy with the short-term fix being the long-term & just moving on...

[2018-06-15 01:16] eric-hon commented on #3027
@spadgett the cluster three hosts firewall: firewall-cmd --state,all are "not running".

[2018-06-18 07:51] demouiuser opened #3029 "Openshift web console local setup of source code update , build and redeploy with v3.9.0"
Hello All,

I am new with openshift development.
I have to setup openshift web console locally to change the source code, build and redeploy the openshift   web console ui with our changed source code to customize the openshift web console ui.

Can any one tell me the exact procedure of the above?

I have to work on v3.9.0.

[2018-06-18 12:31] spadgett commented on #3029
See the README for building the JS dist files:

https://github.com/openshift/origin-web-console#getting-started

Then you'll need to vendor the changes into the origin-web-console-server project:

https://github.com/openshift/origin-web-console-server#vendoring-origin-web-console

Finally you can build the origin-web-console-server image with this command:

[code]

The 3.9 release is tagged:

http

[2018-06-19 05:52] demouiuser commented on #3029
Thanks for the solution,

Now, i am facing an issue with below command
oc create namespace openshift-web-console
###############
Error from server (Forbidden): namespaces is forbidden: User "system" cannot create namespaces at the cluster scope: User "system" cannot create namespaces at the cluster scope
###############

Kindly provide resolution.
Thanks in advance.

[2018-06-19 12:08] spadgett commented on #3029
You need to be cluster-admin to create openshift-* namespaces. You might be able to use

[code]

[2018-06-19 15:20] #3012 closed

[2018-06-20 16:51] demouiuser commented on #3029
Thanks for the update.
I am following below link to setup openshift development environment.

https://github.com/openshift/origin/blob/master/CONTRIBUTING.adoc#download-from-github
I have followed below mention steps on CentOS7.
1) git clone of openshift/origin at openshift folder
2) Go to the origin folder than run below command
    2.1 ) hack/env hack/build-base-images.sh
    2.2)  hack/env make

[2018-06-20 17:16] spadgett commented on #3029
I'd tag the image however you want and then update the webconsole deployment in the openshift-web-console namespace to use your image tag

[2018-06-21 05:58] demouiuser commented on #3029
How to tag our locally created openshift image image using "hack/env hack/build-base-images.sh" and  "hack/env make release" command?

[2018-06-22 09:44] olaf-meyer opened #3031 "Which images streams tags are displayed in Deploy Image dialog"
Hello,

I created an additional OpenShift project with custom base images. Via command line it is possible to list the image stream of the custom base images. However in the web-console I'm unable to see the project with my custom image streams in the dialog "Deploy Image". Do I need to add an annotation to the my project or image stream?

Thank you in advance.

[2018-06-22 16:52] spadgett commented on #3031
Are you logged in as the same user in the CLI and the web console? We should the list of projects that you have access to in the dropdown.

/kind question
/assign

[2018-06-25 06:41] amrit28 opened #3032 "Issue with origin-web-console ui customization environment setup"
Hello All,
I have to customize the openshift web console ui through source code.
I have followed below mentioned steps:
1 .  Git clone the origin-web-console
2. Install Nodejs and npm
3. Install grunt-cli and bower by running npm install -g grunt-cli bower
4. Install dev dependencies by running hack/install-deps.sh
5. changes the configuration specific to our ip address:
 5.1   app/config.local.js

[2018-06-25 08:47] olaf-meyer commented on #3031
Yes, I'm logged in with the same user. To get the images streams that I view I use the command "oc get is" on the CLI. However I don't have view permission for the base image project in which the imagestreams are stored. We don't want to change the permission of the project, because otherwise the base image project would become visible for all user.

I don't have view permissions for the "OpenShif

[2018-06-25 13:56] spadgett commented on #3031
OK, yeah. This is a current limitation of the dialog. If you don't see the project in the project list, we don't know that you have authority to list image streams in the project. There's way for us to even know that the project exists using only the user's token.

It might be possible to make the dropdown editable so you could type the name. Or we could let admins add to the list for everyone.

T

[2018-06-25 18:18] spadgett opened #3033 "Builds page should show resource limits"
cc @smarterclayton

[2018-06-25 18:59] amrit28 commented on #114
I am also facing the same issue.
1. Run command "grunt build" and "grunt serve" in origin-web-console to launch the openshift webconsole
2. It executed successfully and launched on https://xx.xx.xx.xx:9000
Now, when i am trying to access this url then it opens the url and suddenlly it is redirecting to
https://xx.xx.xx.xx:8443:8443/oauth/authorize?client_id=openshift-web-console&response_type=code

[2018-07-17 04:17] commandtab commented on #2319
Sorry to resurrect this issue, but is there now no way to combine related services as displayed in the web UI? My once concise project views are now quite long.

Thanks ❤️

[2018-07-17 12:08] jesperpedersen opened #3038 "Feat: UI for Cron Jobs"
It would be nice to have a UI for Cron Jobs, and their status under "Other Resources".

At the moment you will have to use `oc delete cronjobs/jobname` to in order to delete, which isn't ideal when you are trying to do a complete work flow in the web console.

Thanks for considering.

[2018-07-17 12:17] spadgett commented on #2319
The way to group resources is to give them the same `app` label, and they'll show up together in the "List By: Application" view.  If the "Application" headers are taking up too much space, you might try "List By: Resource Type" as well.

[2018-07-17 13:34] jesperpedersen commented on #3038
Thanks for the feedback Sam

[2018-07-18 16:21] cloudbehl opened #3039 "Issues with expand PVC in storage tab"
1. If we give the capacity as 2.5 GB in expand PVC the requested capacity is set to 2560 Mib but the allocated capacity to the PVC is 3GB because In CNS the value is set in GB, TB or PB.

![screenshot from 2018-07-18 21-33-42](https://user-images.githubusercontent.com/6695156/42893836-03a3f6f6-8ad3-11e8-9b69-18290368a07c.png)

So if next time we try to expand the and we increase the size in expand

[2018-07-24 12:29] ncameronbritt commented on #2884
@sspeiche This issue was about giving users some indication that there is more than one route associated with an application since only one is shown by default. It's a separate from allowing users to choose which route(s) to display.

Not sure how relevant it is with the new console, so I'll defer to @openshift/team-ux-review

Feel free to close it if it's no longer relevant.

[2018-07-24 19:09] #472 closed

[2018-07-31 06:42] cloudbehl commented on #3039
The Issues has been fixed. So closing this bug.

[2018-07-31 06:42] #3039 closed

[2018-08-02 09:06] linzhaoming opened #3051 "When editing DeploymentConfig Editor. Editor show nothing about the invalidation input fields"
Version: Openshift Console 3.9

## Problem

I have a Java springboot app, and need to set the special format Env which input editor does not support now, for example `SPRING_KAFKA_BOOTSTRAP-SERVERS`.

1. I can set the env in the YAML Editor in the **Console** successfully.
[code]
2. After previous setting, I edit the *DeploymentConfig* again in the Edit UI. But whenever I change any input text int

[2018-08-02 12:27] spadgett commented on #3051
The `-` didn't used to be allowed in env var in Kubernetes. It looks like that restricted was removed in 1.8. We should update the console regex for validation.

For now, the workaround is to add the value using Edit YAML.

/kind bug
/priority p2

[2018-08-02 12:32] spadgett commented on #3051
/assign @jhadvig

See

https://github.com/kubernetes/kubernetes/blob/8d7d7a5e0d4d7e75f5a860574346944b8cc0fc43/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L305-L306

[2018-08-02 14:10] #3051 closed

[2018-08-16 08:58] mclitao opened #3061 "The build origin-web-console development exchange king kong encountered a problem"
1:yum install npm
2: npm install -g grunt-cli bower
3: bower install --allow-root
4: chmod +x ./hack/*.sh
5: make build
6: ./hack/install-deps.sh
7: oc edit oauthclient openshift-web-console
                  14 redirectURIs:
                  15   - https://172.99.0.88:8443/console/
                  16   - https://172.16.5.88:8443/console/
                  17   - https://172.99.0.88:9000  <- ch

[2018-08-16 09:02] mclitao commented on #3061
Certification to do so
cat /opt/origin/config/master/service-signer.crt > /opt/webui/origin-web-console/tls/tls.crt
cat /opt/origin/config/master/service-signer.key > /opt/webui/origin-web-console/tls/tls.key

[2018-08-17 12:47] fgiloux opened #3063 "RFE: periodSeconds for readiness and liveness probes in the details page and health check editor"
Hi

In the details page of a pod it is possible to see the settings for the readiness and liveness probes that have been configured. For instance:
 Readiness Probe: GET /health on port 8080 (HTTP) 10s delay, 1s timeout
 Liveness Probe: GET /api/healthcheck on port 8080 (HTTP) 120s delay, 1s timeout

The parameter "periodSeconds" (the interval between calls) in the object definition is however miss

[2018-08-22 09:08] mclitao commented on #3061
Failed to load https://172.99.0.88:8443/api/v1: **No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin** 'https://172.99.0.88:9000' is therefore not allowed access.
17:04:40.210 oauth?code=aMSHrlYe9KOitR34XYN0CmjiwERMsquP5BkgnP5U0KQ&state=eyJ0aGVuIjoiLyIsIm5vbmNlIjoiMTUzNDkyMzc2MDkzNC0zMjk1MzM5ODg5MTY5NDUyOTMwNzc1NzY0Nzc3ODEyNTk1MTk4NzgyOTQxMjU2MjY5MjIyMDg5Mzg0ODk0O

[2018-08-22 11:07] spadgett commented on #3061
You need to edit master-config.yaml on the master to allow CORS access from your IP (property `corsAllowedOrigins`)

/kind question

[2018-08-24 03:09] mclitao commented on #3061
Thank you very much @spadgett
The problem was

[2018-08-24 03:09] #3061 closed

[2018-08-29 01:59] mclitao commented on #3032
vim /etc/origin/master/master-config.conf
corsAllowedOrigins:
- //127\.0\.0\.1(:|$)
- //172\.99\.0\.88:8443$
- //172\.99\.0\.88:9000  this line add ip addr
- //localhost(:|$)

[2018-09-07 18:35] djwhatle opened #3072 "Trying to navigate to https://<cluster_public_ip>:8443 redirects to https://127.0.0.1:8443/console/"
## **Issue Description**
I'm using `oc cluster up` v3.11 via catasb to bring up a web console, and I've found that:

**_Navigating to_:**
`https://<cluster_public_ip>:8443`
**_Redirects to_:**
`https://127.0.0.1:8443/console/`
**_Instead of the expected:_**
`https://<cluster_public_ip>:8443/console`

Which I can't load since I'm not running the cluster on my localhost.

---
**_If I instead navigat

[2018-09-07 18:43] spadgett commented on #3072
I'll need to defer to @deads2k and @simo5 on this since the master provides the redirect. I thought it was polling the config map to get the public URL.

[2018-09-09 12:41] jkroepke opened #3073 "Provide HiDPI aware favicon"
Hi,

since https://github.com/openshift/origin-web-console/commit/5afd81a896cbcce454d6b7d8ac3e9ea6f865f9ab

the favicon (with the logo) isn't HiDPI aware anymore. On a Retina Mac the icon on browser tabs is blurred.

[2018-09-11 14:21] ElytschaOne opened #3074 "Webconsole dont recognize Template Changes"
Hello,

I use openshift enterprise so i dont know if this is right here. maybe i will ask for that also directly by redhat.

version: Openshift Enterprise v3.10

I want do deploy a custom template, after i deployed it, it shows up correctly when i enter:
![image](https://user-images.githubusercontent.com/43177135/45366061-33217d00-b5de-11e8-82a6-0db8c6c4b4ba.png)

but when i enter the webconsole t

[2018-09-11 15:22] spadgett commented on #3074
If you're using the Template Service Broker, it will take up to the 15 minute relist duration to update. You can force an update with

[code]

and increment the `relistRequests` property. You will also need to refresh the web console.

/assign
/kind question

[2018-09-12 08:16] #3074 closed, assigned to spadgett

[2018-10-01 12:47] bittner commented on #2974
1. For most pages a default sort order of "last updated first" could probably make sense (e.g. Builds > Images, Resources > Secrets).
1. The project "Overview" page may need to have a "(Last Updated)" entry added to the "List By" drop-down box. Or find a different way, consistent with other pages, to display information sorted by event time.

[2018-10-09 12:59] cycwll opened #3085 "Why always Internal error occurred: Get https://registry-1.docker.io/v2/ ?"
Description
I have installed openshift cluster by ansible（version 3.10）, one master, two compute node, one infra node.
I configured HTTP_PROXY and HTTPS_PROXY for docker in /etc/sysconfig/docker file（not in the ansible inventory file ）, and I am sure that every node can be download the image by docker pull nginx.

![image](https://user-images.githubusercontent.com/6410130/46670838-d9749880-cc05-11

[2018-10-12 06:03] gbraad commented on #3072
This will cause an issue for deploying on a VM or remote machine, as done with Minishift

[2018-10-12 11:09] LalatenduMohanty commented on #3072
PR to fix this issue https://github.com/openshift/origin/pull/21234

[2018-10-16 16:32] saadlu commented on #3001
where do you set that?

[2018-10-16 17:49] spadgett commented on #3001
@saadlu The console public URL should be based on  `--public-hostname` by default. It's not something you would want to change for cluster up most likely.

[2018-10-16 18:23] saadlu commented on #3001
@spadgett

thanks for the reply

so trying to use `--public-hostname` with `oc cluster up`

but after entering username/password I get redirected to 127.0.0.1 over and over again

I have deleted the `openshift.local.clusterup` file and re-tried and on 3.11 it does not seem to work.

Note that with 3.10 it does seem to work - but I can't access the URL of the dashboard from another machine the same

[2018-10-16 18:56] jmontleon commented on #3001
@saadlu does logging in at  `:8443/console/catalog` instead of `:8443/console` allow you to log in? I get redirected back to a login prompt if I try to login after opening `:8443/console`, but if I log in starting at `:8443/console/catalog` I am OK.

[2018-10-21 10:40] imranrazakhan opened #3089 "How to Troubleshoot OpenShift LDAP(active directory) Authentication"
On login at web-console with ldap identityprovider i am getting error

`An authentication error occurred.`

Before configuring LDAP i verified connectivity with "ldapsearch", now i want to debug what goes to AD and what response openshift received.

I enabled debugging by editing below file and setting "`DEBUG_LOGLEVEL=4`"

`vi /etc/origin/master/master.env`

but i am unable to find anything in `/

[2018-10-22 04:31] ghost commented on #3089
Maybe this will be helpful.
https://docs.okd.io/3.10/install_config/web_console_customization.html#customizing-the-login-page
and
https://docs.okd.io/3.10/install_config/web_console_customization.html#customizing-the-oauth-error-page

[2018-10-22 07:15] stewartshea commented on #3089
@imranrazakhan

Hi Imran,

The ldap errors can be found in the api controller logs(`master-logs api api`). I was able to identify the following logs with DEBUG_LOGLEVEL=4.

[code]

The reconfiguration does require a restart of the service. If you run something like "ps -aux | grep openshift-master-api" you car verify the currently running loglevel.

[2018-10-22 09:44] imranrazakhan commented on #3089
@Shea Stewart
Thanks for updates, i have to do following to get it work

add in inventory file
[code]

run
`ansible-playbook -i inventory-cns.ini /usr/share/ansible/openshift-ansible/playbooks/deploy_cluster.yml`

I think i have multi master environment and changing on one master was not working.

[2018-10-22 10:37] imranrazakhan opened #3090 "LDAP Result Code 200 "Network Error": x509: certificate signed by unknown authority"
I added ldap identity provider but getting below error
[code]
On same machine i tested `ldapsearch` by doing following changes in `/etc/openldap/ldap.conf`

`TLS_REQCERT never`

How i can achieve same with openshift-origin (3.10) without certificates??

[2018-10-22 11:03] imranrazakhan opened #3091 "LDAP Result Code 200 "Network Error": x509: certificate signed by unknown authority"
I added ldap identity provider but getting below error
[code]
On same machine i tested `ldapsearch` by doing following changes in `/etc/openldap/ldap.conf`

`TLS_REQCERT never`

How i can achieve same with openshift-origin (3.10) without certificates??

[2018-10-22 12:37] spadgett commented on #3090
This is probably better asked in an openshift/origin. Ideally you would set up the right ca bundle for your LDAP server.

https://docs.openshift.com/enterprise/3.0/admin_guide/configuring_authentication.html#LDAPPasswordIdentityProvider

cc @enj

/kind question

[2018-10-22 12:39] spadgett commented on #3091
Duplicate of #3090

/kind question
/close

[2018-10-22 14:35] imranrazakhan commented on #3091
Sorry due to GITHUB issue
https://status.github.com/messages

[2018-10-22 14:35] #3091 closed, assigned to nobody

[2018-10-22 15:46] stewartshea commented on #3089
@imranrazakhan
It can be difficult to troubleshoot across multiple masters for sure (which is why we often suggest forcing your client to route to a single master); one option is to leverage the EFK stack if it's deployed, or in my scenario I use a bastion host to run ansible across all hosts which allows me to query each host for any logs related to ldap across all master hosts.

Interesting that

[2018-10-23 12:37] ambicamahapatro commented on #2200
Getting the error Jasmine spec timed out. Resetting the WebDriver Control Flow while executing the test suit but individually it runs fine. tried changing the protractor config defaultTimeoutInterval and changing the Jasmine framework to Jasmine from jasmine2. Still nothing works. can somebody plz help me

[2018-11-06 22:03] jeffspahr opened #3092 "Make logging URL query customizable"
The web console configmap lets the OpenShift admin change the logging URL that end users see with the View Archive link for pod logs via the loggingPublicURL field.

[code]

This will use the following query from https://github.com/openshift/origin-web-console/blob/master/app/scripts/services/logLinks.js
[code]

In our case we're still using Kibana, but we are shipping logs with filebeat so the fi

[2018-11-08 14:55] komajaro opened #3093 "How to lock (navigation) toolbar(s)"
Is there a way to lock the toolbar (location below) consisting of the following tabs: Details, Environment, Metrics, Logs, Events while scrolling Logs ?

Example toolbar  location:
Log into Openshift Origin -> Choose a project -> Applications -> Deployments -> deployment_name -> deployment_number

openshift v3.9.0+191fece
kubernetes v1.9.1+a0ce1bc657

[2018-11-08 18:15] spadgett commented on #3093
Yeah, the 4.0 console at https://github.com/openshift/console will scroll the log content inside the tab pane so that the top tabs are always visible. Is this the behavior you wanted?

[2018-11-08 18:17] spadgett commented on #3073
Thanks for letting us know. This will be fixed in the 4.0 console at https://github.com/openshift/console.

Closing since this is fixed next release.

/close

[2018-11-08 18:17] #3073 closed, assigned to nobody

[2018-11-08 18:18] spadgett commented on #3038
This is implemented in the admin ("cluster") console for 3.11 and will be in the converged console for 4.0.

/close

[2018-11-08 18:18] #3038 closed

[2018-11-08 18:22] spadgett commented on #3007
We have better support for CRDs in the cluster console for 3.11 and converged console in 4.0. There is a dedicated CRDs nav item and pages for CRDs and CR instances. We're also looking at improving the printer columns in lists under https://github.com/openshift/console/pull/682

Closing since this is now implemented.

/kind enhancement
/close

[2018-11-08 18:22] #3007 closed

[2018-11-08 18:25] spadgett commented on #3038
Here's a screenshot of the list view. We also have details pages for cron jobs and jobs.

![cron jobs okd 2018-11-08 13-24-56](https://user-images.githubusercontent.com/1167259/48219135-b7337f00-e359-11e8-836e-a9af1ec88ec5.png)

[2018-11-08 18:26] spadgett commented on #3007
Here's a screenshot of the CRD list view:

![screen shot 2018-11-08 at 1 26 07 pm](https://user-images.githubusercontent.com/1167259/48219207-e649f080-e359-11e8-9e89-341747329be3.png)

[2018-11-08 18:29] spadgett commented on #3093
Here's a screenshot of how it looks now:

![screen shot 2018-11-08 at 1 27 52 pm](https://user-images.githubusercontent.com/1167259/48219294-24471480-e35a-11e8-8994-153580dfb278.png)

Closing as this has been implemented.

/kind question
/close

[2018-11-08 18:29] #3093 closed, assigned to nobody

[2018-11-08 18:31] spadgett commented on #2974
This is implemented in the 4.0 console where you can sort each table column by clicking on the header.

![pods okd 2018-11-08 13-29-57](https://user-images.githubusercontent.com/1167259/48219419-7a1bbc80-e35a-11e8-8db9-487083af650d.png)

/kind enhancement
/close

[2018-11-08 18:31] #2974 closed

[2018-11-08 18:31] spadgett commented on #2973
There is now an indicator in the column header in the 4.0 console.

/close

[2018-11-08 18:31] #2973 closed

[2018-11-08 18:46] jesperpedersen commented on #3038
Thanks Sam !

[2018-11-08 20:28] fabiand commented on #3007
This is nice!

What about the CRs - are they also shown?

[2018-11-09 17:12] spadgett commented on #3007
Yeah, you can list CRs and view them (including YAML). Screenshots of an example CronTab CR:

![cr-list](https://user-images.githubusercontent.com/1167259/48277410-97af5b80-e418-11e8-9387-4a87bbf2154f.png)

![cr-details](https://user-images.githubusercontent.com/1167259/48277415-9b42e280-e418-11e8-87b8-def1556d717e.png)

[2018-11-14 10:04] fabiand commented on #3007
Nice!

Could CRDs be annotated with something in order to get a custom UI for modifying a CR of a specific CRDs?

So something for the ui which openapi  is for the api? :)

[2018-11-20 09:33] emilal opened #3095 "Console is blocked while waiting for selfsubjectrulesreview"
We have a project where creating a selfsubjectrulesreview takes a little over 1 minute to complete. The effect is that the web console will delay drawing until the POST to create a selfsubjectrulesreview times out after 30s and returns a 504. For other projects it takes something on the order of 1s to complete.

Appending a `?request-timeout=90s` makes the request complete successfully, but would

[2018-11-20 14:41] spadgett commented on #3095
Thanks for the report. Which console and what OpenShift version are you seeing this in?

@enj Any idea why the selfsubjectrulesreview would be so slow?

[2018-11-20 14:59] enj commented on #3095
Everything backing that resource is cached so not sure what would cause the issue.  Taking over 3 seconds sounds super slow IMO...  Does that namespace have a lot of roles and role bindings?

[2018-11-20 17:01] gripenk opened #3096 "3.11 web console fail to expand PVC if resourcequota defined in project"
OKD 3.11 (enabled ExpandPersistentVolumes), with Netapp Trident NAS storageclass (v18.10) (enabled allowVolumeExpansion)

I can enlarge PVC via both web console or oc cli if the project does not have resourcequota.
If project has a "hard" resourcequota on "requests.storage", I can only enlarge the PVC via oc cli. Web console fails and show "Can't be greater than ."

CentOS Linux release 7.5.1804 (

[2018-11-20 17:05] spadgett commented on #3096
/assign @cloudbehl

[2018-11-20 17:06] spadgett commented on #3096
/kind bug

[2018-11-20 19:07] cloudbehl commented on #3096
@spadgett I will have a look and will try to replicate.

 Do I need to send a mail for getting added as an openshift member?

[2018-11-20 19:14] spadgett commented on #3096
@cloudbehl It'd be good to do, but shouldn't stop you from submitting a PR.

[2018-11-20 19:15] spadgett commented on #3096
It only prevents me from assigning the issue.

[2018-11-20 19:17] cloudbehl commented on #3096
Understood!

[2018-11-23 13:58] emilal commented on #3095
Yes, turns out it did. Clearing those out fixed the problem. Thanks, and my apologies for the inconvenience. :)

[2018-11-23 13:58] #3095 closed, assigned to nobody

[2018-12-12 10:42] imranrazakhan opened #3102 "Error: 'net/http: TLS handshake timeout' - AMQ Broker"
I want to access java webconsole for AMQ Broker within cluster but its giving following error

[code]
1- Strange is its accessible from one computer but not working from other computer.
2- To identify browser issue i tried to capture traces as in development mode and pictures are attached

from traces it showed 503 error for following link

i ssh to cluster master and from that master curl to miti

[2018-12-12 14:04] spadgett commented on #3102
/assign @alexkieling

[2018-12-12 22:13] vorburger commented on #3008
Just FYI, in case anyone else finds this by search like I just did: The equivalent of the `--public-hostname` arg to `openshift start` for openshift-ansible appears to be the `openshift_master_cluster_public_hostname` inventory variable.

However for me ([over in this issue](https://github.com/vorburger/opendaylight-coe-kubernetes-openshift/issues/7)) that doesn't really fully help - it solves the

[2018-12-13 11:32] abkieling commented on #3102
@imranrazakhan please specify the steps to reproduce the issue

[2018-12-17 11:56] imranrazakhan commented on #3102
@alexkieling i have installed OpenShift Origin 3.10 with ansible

[code]
Now when i go to java console, i am getting error

[2018-12-17 22:07] abkieling commented on #3102
@spadgett I don't know why the cluster master can't connect to the AMQ broker. Hasn't anyone in your team seen this error before?

[2018-12-18 09:02] imranrazakhan commented on #3102
@alexkieling During my search on google i found that there might be issue of

1- OpenShift API Proxy, But i dont know how to troubleshoot it?
2- i have set HTTP Proxy environment variable but i put broker IP in NO_PROXY too.

I have used below templates for deployment of AMQ

https://github.com/jboss-openshift/application-templates/blob/master/amq/amq63-basic.json

[2018-12-18 15:55] spadgett commented on #3102
@alexkieling any chance it's trying to use https to connect to an http port?

[2018-12-18 17:43] abkieling commented on #3102
@imranrazakhan Are you able to successfully send a request to the Jolokia endpoint from within the
AMQ broker's container? Please open a terminal inside the container and send a request to the Jolokia port? It should be something like this:

[code]

You can find the password in /opt/jolokia/etc/jolokia.properties.

[2018-12-18 18:20] imranrazakhan commented on #3102
@alexkieling Please find below output
[code]

[2018-12-18 18:39] alexkieling commented on #3102
@imranrazakhan can you check the logs and look for an entry specifying the Jolokia URL? I'd like to confirm it's using HTTPS.

[2018-12-18 18:41] imranrazakhan commented on #3102
[code]

[2018-12-18 18:49] abkieling commented on #3102
@spadgett connecting to the Jolokia endpoint using HTTPS and Basic authentication works but I think the Java console on OpenShift uses client cert authentication, correct? We need to find a good way to test that.

[2018-12-20 12:17] imranrazakhan commented on #3102
@alexkieling if we access this jolokia from openshift webconsole and with browser debug mode, i found that we are getting 503 error on this URL (You can see pictures i shared)

[code]

As you suggested we tested
`"https://jolokia:<password>@localhost:8778/jolokia/version"`
not following which is part of URL webconsole URL
`https://jolokia:<password>@localhost:8778/proxy/jolokia/version`

while acc

[2018-12-20 12:25] abkieling commented on #3102
@imranrazakhan Hitting the Jolokia port directly doesn't require the `proxy` part of the URL. That's used when the request is sent from the browser to Hawtio's proxy. I'm still investigating. @gashcrumb might be able to help after the holidays.

[2018-12-24 11:03] opotmans opened #3103 "Projects visibility difference between oc tool and web console for system:admin user"
**#####Issue Description**
Related to Web console

**#####Description**
Seems that the project visibility is different between oc tool and web console for system:admin bug or expected feature by the openshift developers.

**#####Tools Version**
Openshift version 3.11
oc v3.11.0+0cbc58b
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

**>Steps To Reproduce**
1. Using the oc t

[2019-01-18 14:29] imranrazakhan commented on #3102
@alexkieling @gashcrumb I am able to resolve issue, My server was getting IP from DHCP and DHCP is configuring external DNS in following file

` /etc/dnsmasq.d/origin-upstream-dns.conf`

i just change it to master IP an now it works fine

[code]

[2019-01-18 15:24] abkieling commented on #3102
@imranrazakhan Thanks for letting us know. Please don't forget to close the issue.

[2019-01-18 15:27] #3102 closed, assigned to nobody

[2019-01-18 21:20] ghost opened #3107 "The latest tag has a broken OperatorHub page"
It used to work just a few hrs ago, not I can see that tags have been updated with the latest version and this error comes up:

![image](https://user-images.githubusercontent.com/5337267/51413428-ebd36c00-1b3c-11e9-89d2-efd7859ff26a.png)

[2019-01-18 21:43] eivantsov commented on #3107
Wrong repo. Closing

[2019-01-18 22:09] spadgett commented on #3107
Duplicate of https://github.com/openshift/console/issues/1112

/close

[2019-01-18 22:09] #3107 closed, assigned to nobody

[2019-01-18 22:13] spadgett commented on #3103
@opotmans Sorry for not responding sooner. You're almost certainly logged in as a different user from the CLI. You can't log in as `system:admin` in the console since that requires certificate authentication.

Try `Copy Login Command` from the user menu, then check `oc get projects`. You should see the same list.

/kind question

[2019-02-02 11:45] ramnar opened #3115 "Issue with Web Console UI customization"
Hi,
I am trying to customize the link in Help Section->Command Line Tools->Get Started with CLI in openshift Web Console

I followed the below openshift UI Customization documentation to do the same

https://access.redhat.com/documentation/en-us/openshift_container_platform/3.11/html/configuring_clusters/install-config-web-console-customization

I have tried to do the following to achieve the same

[2019-02-02 12:47] spadgett commented on #3115
The GitHub URL looks like it will serve JavaScript, but it's actually serving HTML. You'll need to host the extension somewhere that it will serve the original files with correct `Content-Type` headers. (Note that just clicking the "Raw" link on GitHub won't work since it serves the content as `text/plain`.)

/kind question
/close

[2019-02-02 12:47] #3115 closed, assigned to nobody

[2019-02-02 12:48] #3103 closed, assigned to nobody

[2019-02-02 12:50] spadgett commented on #3033
Added in https://github.com/openshift/console/pull/349

/close

[2019-02-02 12:50] #3033 closed

[2019-02-04 09:20] ramnar commented on #3115
Hello,
i hosted the java script file in another server.Still I am not able to customize the webconsole.

Can you suggest what Iam doing wrong?
Regards,
Ram.

[2019-02-04 15:02] spadgett commented on #3115
That seems fine. Can you check in browser developer tools network tab that your JS is loaded? You could also inspect the HTML to see if there is a script tag for it.

[2019-02-16 08:31] Activeghost commented on #114
I am also seeing this issue, where the URI redirect in OAUTH config was incorrect, so I patched it and removed the internal IP it was attempting to redirect to ...which is the IP you see here (post removal and delete / restart of the web console pod):

[https://ec2-34-220-25-45.us-west-2.compute.amazonaws.com:8443/oauth/authorize?client_id=openshift-web-console&response_type=code&state=eyJ0aGVuIjo

[2019-02-16 09:58] Activeghost opened #3120 "Public URI for webconsole redirects to internal IP address"
I am also seeing this issue (which several other people have), where the URI redirect in OAUTH config was incorrect, so I patched it and removed the internal IP it was attempting to redirect to ...which is the IP you see here (post removal and delete / restart of the web console pod):

[https://ec2-34-220-25-45.us-west-2.compute.amazonaws.com:8443/oauth/authorize?client_id=openshift-web-console&re

[2019-02-16 10:05] Activeghost commented on #3120
Fixed it. In addition to the steps document above... restarting the server (or the pods) picked up the new config and now I have a web console.

oc edit oauthclient openshift-web-console  <-- edited the redirects to the public URI
oc get -o yaml configmap webconsole-config -n openshift-web-console > webconsole-config.yaml
vi webconsole-config.yaml <-- updated the URI's in here to public URI's
oc a

[2019-02-16 10:05] #3120 closed, assigned to nobody

[2019-02-17 14:41] opotmans commented on #3103
Sorry for the delay of my answer but meanwhile I found the solution to my problem and switch on another problem with istio ;-)
this is a misinterpretation between the system:admin account which is used for using the oc command which is authenticated with a certificate and the system/admin account which is used with the web console.
Maybe interesting to deactivate it on the web console to avoid thi

[2019-03-01 04:52] JyotsnaC commented on #2758
Is there any work around for this problem ?
* corsAllowOrigins is not fixing this

[2019-03-23 07:10] akram opened #3122 "[RFE] Make templates visible for a give set of projects where users has rights"
Today, when a user connects to web console, it gets in the "Catalog" view the list of templates that he could instantiate.
This list comes from his own template list + the list of templates present in the "openshift" project.

As an RFE, we would like to have the ability to get in the catalog view all the templates that a users has access to.

[2019-04-22 09:21] beezerbt opened #3124 "Docker strategy is deprecated but still shown as a sample on the Cluster Console"
hi
Before i begin, i want to make it clear that I have not tested what I am about to report on Origin, but on the Enterprise paid version.
If this negates this issue, then so be it.
Here goes:
Openshfit details: Paid Professional version. Version Information:
![image](https://user-images.githubusercontent.com/9202512/56493820-a6825a00-64f0-11e9-8085-352695ffc850.png)
Been trying to create a build

[2019-04-22 12:50] spadgett commented on #3124
Hi, @beezerbt. It looks like the cluster admin has disabled the Docker build strategy. Any chance this is OpenShift Online? Docker build strategy is disabled in that environment.

I'd recommend building the image locally and pushing to an image registry like quay.io.

[2019-04-23 12:58] beezerbt commented on #3124
Thank you I will do so and yes that is Openshift Online indeed. Thank you for your speedy feedback.

[2019-04-23 13:05] spadgett commented on #3124
Sure thing, good luck!

[2019-04-23 13:05] #3124 closed, assigned to nobody

[2019-04-24 11:38] beezerbt commented on #1399
@alikhajeh1 any chance you can share the oc CLI command you mention `oc new-app --strategy=docker... _feature - which I've found very useful as it creates the imagestream/buildconfig/deploymentconfig/service._ I am struggling to do exactly that on openshift online since at the Cluster level _even_ though there is an option for it, to Try it out, it actually does not allow it:
![image](https://user

[2019-04-24 14:56] spadgett commented on #1399
Hi @beezerbt, this build strategy is not supported for OpenShift Online as discussed in #3124. You won't be able to add Docker strategy builds in the UI or through the CLI.

[2019-04-25 08:34] ygp987 opened #3125 "error with "Install dev dependencies by running hack/install-deps.sh""
When I Running ./hack/install-deps.sh, there is an build error . so I can't build a development environment. Can somebody help me?
the error log is below.

[code]
and /home/***/.npm/_logs/2019-04-25T08_21_12_178Z-debug.log is below

[code]

Thanks a lot.

[2019-04-25 13:49] spadgett commented on #3125
I suspect that your node version is too new. You could workaround by commenting out the postinstall step in package.json to skip the webdriver manager update.

Note that new console development has moved to https://github.com/openshift/console, which works with the newer node version. This repo is now for maintenance of older releases.

[2019-04-25 14:27] ygp987 commented on #3125
Thank you very much

[2019-05-23 17:24] #3096 closed, assigned to cloudbehl

[2019-06-04 09:41] honghuac opened #3129 "Annotation for choice of "Node" needed - when creating Persistent Volumes"
Target node has to be explictly specified as an annotation when creating Persistent Volumes using OCP 4 web console. This is not explicitly needed when creating PVs through `oc` utility.

[2019-06-05 10:49] jonaslalin opened #3130 "Deploy button is hidden when it shouldn't be"
# Bug

The expression `ng-hide="!('deploymentConfigs' | canIDoAny)"` doesn't take into account that `ng-if="deploymentConfigsInstantiateVersion | canI : 'create'"` might be true.

https://github.com/openshift/origin-web-console/blob/4534d447667d928ed08b8eed3ce7b1a450d9a2d8/app/views/browse/deployment-config.html#L8-L16

The Deploy button is in fact visible, but hidden by the parent `<div>`:

![ima

[2019-07-01 03:23] jaaazzz opened #3133 "auth error"
First，The version of my openshift origin is v1.5.0-rc0, and the version of origin-web-console is v3.11. Can this work?

The problem is that I log in to https://192.168.230.233:9000, jump to https://192.168.230.133:8443/login?then=%2Foauth%2Fauthorize%3Fclient_id%3Dopenshift-webconsole%26response_type%3Dcode%26state%3DeyJ0aGVuIjoiLyIsIm5vbmNlIjoiMTU2MTk1MDgwNzMzNi0xNzQ4NzAzODYzNzAyMzg2Mzc3Mzc4OTgyO

[2019-07-01 15:08] spadgett commented on #3133
I don't think this is the cause of the issue you're seeing, but these versions are not compatible for other reasons. 3.11 console uses newer APIs not available in that origin version.

Have you added `https://192.168.230.233:9000/` to the redirect URLs in the `openshift-web-console` OAuthClient?

[2019-07-04 04:06] irfanpule opened #3134 "error: the server doesn't have a resource type "configmap""
Hello, I try run this command `oc edit configmap/webconsole-config -n openshift-web-console`, but I found some error `the server doesn't have a resource type "configmap"`. I follow [this](https://docs.okd.io/latest/install_config/web_console_customization.html#loading-custom-scripts-and-stylesheets) tutorial to try customize okd

[2019-07-16 09:52] JyotiRani commented on #3072
I am facing this issue with OKD 3.11, what's the workaround or fix for this issue?

[2019-07-21 13:52] spadgett commented on #3092
This is addressed in OpenShift 4.2 with the PR https://github.com/openshift/console/pull/1892. The log links can be customized with the new `ConsoleExternalLogLinks` custom resource. See discussion in https://github.com/openshift/console/issues/1678.

Thanks!

cc @jcantrill
/close

[2019-07-21 13:52] #3092 closed, assigned to nobody

[2019-07-26 07:22] ideapark opened #3137 "[BUG] project openshift catalog view error"
### [ENV]

openshift origin v3.11

### [ACTION]

1. grant user admin permission of project openshift

2. navigate to

### [ERROR]

Nothing to display

### [ANALYSIS]

Project openshift is a public place to hold shared resource of imagestream, templates.
when the console needs to get imagestream or templates, it will get the current project
and append project openshift result tegother.

But logical

[2019-07-26 07:25] ideapark commented on #3137
@jwforres @spadgett

[2019-08-07 14:35] aliok opened #3141 "Get rid of MobileClient view"
With https://github.com/openshift/origin-web-console/pull/2838, AeroGear group added support in OpenShift web console to show AeroGear mobile clients nicely.

However, we now have our own web console and we won't be using OpenShift web console to manage the mobile clients.

https://github.com/openshift/origin-web-console/issues/2835 and https://github.com/openshift/origin-web-console/issues/2957 a

[2019-08-07 14:39] aliok commented on #3141
I just sent a PR for this issue: https://github.com/openshift/origin-web-console/pull/3142
It bases enterprise-3.11 branch. Is it good enough?

[2019-08-15 16:35] VladMasarik opened #3143 "ConsoleExternalLogLink resource replaces only the first of two same variables in hrefTemplate field."
After creating a ConsoleExternalLogLink instance, which in the `hrefTemplate` field specifies two variables of the same name, for example `${resourceNamespace}`, only the first variable is replaced by real value when displayed in the Web Console. The second variable, stays unchanged e.g. `${resourceNamespace}`.

[2019-08-16 11:55] 5mgig opened #3144 "Starter plan unavailable"
I would like to enroll in free tier for a test drive, but there's no starter plan opt on the [signup](https://manage.openshift.com/register/plan) page, only with two other premium plans pro/fuse provided, which confounds me since the starter plan is still featured on the site. Does redhat have nixed the free plan registration for openshift online but not yet announce, or it's just a hiccup?

[2019-08-16 12:54] spadgett commented on #3144
Sign-ups are temporarily disabled while we perform some logistical maintenance around adding new users. They should be available again soon. Thanks for your patience.

[2019-08-17 04:24] sandeepsai39 opened #3145 "Not to able access services of openshift free trail"
Hi,
I an unable access, any services of open shift. I am using free tier services of open shift for learning purpose. I created one project and some tasks like creation of project of deploying a service etc.  All went good,up to yesterday. All of sudden i am unable to see any resources like projects, pods,deployment,services etc.. . When I check roles I have access most of services. I tried to cre

[2019-08-23 16:49] spadgett commented on #181
We've switched to the Monaco editor (VSCode's editor) in 4.2, which addresses this long-open issue. Bonus: the editor now has full completion and hover help based on the OpenAPI schema!

https://github.com/openshift/console/pull/2039

/close

[2019-08-23 16:49] #181 closed

[2019-08-28 23:52] luixal commented on #3072
Seems the bug has come back, hitting the same problem here. Some info is contradictory:

Running:

[code]
returns:

[code]
Running:
[code]

returns:

[code]

[2019-09-11 10:56] javadan opened #3148 "minishift webconsole access"
First time trying out minishift (v1.34.1 linux-64 from https://github.com/minishift/minishift/releases).  Installed on Centos7 machine on the network.

Can't access webconsole after startup.

Starting from scratch...

Steps:

1. minishift delete
2. ps -ef     (nothing running)
3. docker ps     (nothing running)
4. minishift start --vm-driver=virtualbox
[code]

5. oc version

[code]

7. oc cluster

[2019-09-11 11:55] javadan commented on #3148
Ok nevermind.  Was a firewall issue. Derp.

[2019-09-11 11:56] #3148 closed, assigned to nobody

[2019-10-16 05:32] aliartiza75 opened #3153 "unable to add dashboards in grafana"
Hi

I have deployed OCP cluster as a service on Azure. Once everything is deployed I found out that a project exists named as `openshift-monitoring`. It has grafana, Prometheus and node exporter in it. But the issue is that when I tried to add additional dashboards in it, I was not able to do it because it is a read-only instance for users.

Therefore I have deployed the same services(grafana and

[2019-10-16 12:24] spadgett commented on #3153
Hi, this is probably best asked in https://github.com/openshift/cluster-monitoring-operator/

@s-urbaniak can you help?

[2019-10-16 12:38] aliartiza75 commented on #3153
@spadgett thank you for the response. I have resolved this issue by running the node exporter in the new project and I assigned an empty string in the node selector section of the project. Before assigned the empty string the node exporter was running only in the compute nodes but this above change the node exporter now runs in all nodes.

OCP cluster specs:

3 master nodes
3 infra nodes
2 compute

[2019-10-16 12:38] #3153 closed, assigned to nobody

[2019-10-17 01:03] ivandov opened #3154 "Unable to view namespace-scoped ServiceBroker catalog entries in web-console"
After installing a namespace-scoped `ServiceBroker` and the `catalog` of that `ServiceBroker` is refreshed, the generated `ServiceClasses` and `ServicePlans` are not visible in the web-console's Catalog UI.

The Kubernetes CLI requests show the correct outputs.
<img width="1047" alt="Screen Shot 2019-10-16 at 8 58 08 PM" src="https://user-images.githubusercontent.com/7094613/66969699-9d65e600-f058

[2019-11-05 04:22] ghost opened #3157 "Please add "Sign up with Google Account" option in openshift webapp"
Add Sign up with Google Account feature in openshift.com . I am missing this feature very badly.

[2019-11-15 10:09] freeeflyer opened #3158 "Cannot access cluster console 3.11"
The "cluster console" does not work..

##### Version
[code]

##### Steps To Reproduce
1. Install OKD (with ansible, see attached inventory file here : [inventory.txt](https://github.com/openshift/origin-web-console/files/3850947/inventory.txt))
2. Connect to web console console and login (you now see the app catalog)
3. Click on "Application console" dropdown, then choose "Cluster console"

#####

[2019-11-15 14:24] freeeflyer commented on #3158
Well I think it may be a router problem.. my pod "router-2-deploy" is in error..

[2019-11-15 15:34] spadgett commented on #3158
Right, the 3.11 cluster console is only accessible behind a route, and it looks like your router is broken:

[code]

[2019-11-15 18:04] freeeflyer commented on #3158
I came to this conclusion too..
I'm stuck and I don't know how to diagnose my router (or router deployment pod) problem
All I have as a diagnosis stuff is that :
[code]

When it is trying to launch the actual router pod the only thing I have is that:
[code]

I'm a bit lost.

[2019-11-15 19:08] spadgett commented on #3158
cc @ironcladlou

[2019-11-18 13:10] freeeflyer commented on #3158
As it seems to be a router issue, I've put it there : https://github.com/openshift/router/issues/63

[2019-11-18 13:18] spadgett commented on #3158
Thanks, closing in favor of openshift/router#63

/close

[2019-11-18 13:18] #3158 closed, assigned to nobody

[2019-11-27 03:01] moweiwei opened #3159 "[BUG] create PVC with storageclass can't be watch by controller in webpage"
In the storage creation webpage, when creating a pvc through  storageclass, the controller will report a null pointer exception error, but it will not create by YAML.

Solution：Specified by specifying the value of the storageClassName property in the PVC configuration Instead of annotation

[2019-11-27 03:11] moweiwei commented on #3159
has fix it in latest version

[2019-11-27 03:11] #3159 closed, assigned to nobody

[2019-12-11 14:36] spadgett commented on #3143
Fixed by https://github.com/openshift/console/pull/3745

Note that the 4.x console repo is openshift/console.

/kind bug
/assign

[2019-12-12 21:53] #3143 closed, assigned to spadgett

[2020-01-20 08:06] shapeless-space opened #3163 "How to find commit for v6.0.6-2451-g24942e86d release?"
Hi, how can i find commit for release `v6.0.6-2451-g24942e86d`?
I searched in the git log but didn't find `g24942e86d`

[2020-01-30 13:21] garrotemar opened #3165 "Multi Master - Web Console Not Working"
I have a cluster with 3 masters and 4 compute nodes.
Initially my cluster was 1 master and 2 nodes, then I added 2 masters and 2 compute nodes. After a while and restart several times api and controllers, I find that I cannot log into the development console https://master0.example.com:8443. When I try to authenticate, it redirects me to another master
https://master1.example.com:8443 and won't le

[2020-01-30 13:53] spadgett commented on #3165
I'm not sure all the config that needs to change to add masters. You really want to set that up when installing a cluster. Are your masters behind a load balancer? Console expects a single public hostname for the API server.

Note that the docs call out moving from a single master to multiple masters after install as unsupported:

https://docs.openshift.com/container-platform/3.11/install/example_

[2020-01-30 18:19] garrotemar commented on #3165
My architecture is "Multiple Masters Using Native HA with Co-located Clustered etcd" without the LB. In other words, the Application Console does not have it balanced, if the console (routes) yes, through an external load balancer.

Thanks ... Marcelo

[2020-02-14 13:36] welsh1lad opened #3167 "OKD Web-console logs you out in a loop after fresh install"
OKD 3.11 All in one install, after completion of install script / playbook and configuring user name Im able to login to the console, But then Logged out straight away with error message OOPs Error.

I can replicate this every time:  and Have found a resolve:

Inventory file for Authentication is configured as below

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', '

[2020-02-20 01:04] afcollins opened #3168 "Browse Other Resources errors when CRD plural is complicated"
Description:
A CustomResourceDefinition defines a "broken plural", i.e. that is more than adding an 's' to the singular name.  Example: singular='index', plural='indexes'

Browse > Other Resources page is unable to fetch these objects, and throws errors.
Also, Add to Project > Import YAML is unable to import valid resources of the CRD Kind (that can indeed be created via CLI).

Version: enterprise

[2020-02-20 01:38] BrianBreniser commented on #3168
Reproducible in the openshift playground

[openshift_plural_bug.gz](https://github.com/openshift/origin-web-console/files/4228359/openshift_plural_bug.gz)

Example files that can reproduce the bug on https://learn.openshift.com/playgrounds/openshift311/

Notice how the badcustomobject.yaml can be created with `oc create -f badcustomobject.yaml` but cannot be created by the "Import YAML / JSON" dro

[2020-03-04 12:44] #1523 closed

[2020-04-15 03:28] lian233 opened #3169 "Cannot open web console"
step 1:
docker run -d --name "origin" \
        --privileged --pid=host --net=host \
        -v /:/rootfs:ro -v /var/run:/var/run:rw -v /sys:/sys -v /sys/fs/cgroup:/sys/fs/cgroup:rw \
        -v /var/lib/docker:/var/lib/docker:rw \
        -v /var/lib/origin/openshift.local.volumes:/var/lib/origin/openshift.local.volumes:rslave openshift/origin start

step 2:
open  https://172.16.8.27:8443/console

[2020-04-15 16:13] spadgett commented on #3169
Running OpenShift this way does not install the web console since it is no longer part of the master. You'll need to use `oc cluster up` instead.

https://github.com/openshift/origin/blob/release-3.11/docs/cluster_up_down.md

[2020-04-15 16:13] #3169 closed, assigned to nobody

[2020-04-15 19:02] spadgett commented on #3168
This was fixed as part of https://bugzilla.redhat.com/show_bug.cgi?id=1753601. Please update to 3.11.161 or newer. If you still see the problem, feel free to reopen the issue. Thanks!

[2020-04-15 19:07] spadgett commented on #3163
You want the https://github.com/openshift/console repo. Here is the commit: https://github.com/openshift/console/commit/24942e86d

[2020-04-15 19:07] #3163 closed, assigned to nobody

[2020-04-18 06:08] lian233 commented on #3169
oh  thank you

[2020-06-08 15:11] khodayard opened #3172 "How to change/add webconsole URL after installation of OKD4?"
Hi,

I've installed OKD4 with lab.okd.local as cluster name. now I want to access it through an internet name like: console.okd4.mydomain.com

Is it possible?

I've read in the docs here:
https://docs.openshift.com/container-platform/4.4/web_console/configuring-web-console.html
that changing web console URL is not possible, how about adding another one?

I’ve added two routes similar to console an

[2020-06-24 13:18] spadgett commented on #3172
Hi @khodayard. It's not possible today, although it will be possible in 4.5. See https://github.com/openshift/api/pull/594

[code]

Note that https://github.com/openshift/console/ is the repo for the 4.x console. Thanks!

/close

[2020-06-24 13:18] #3172 closed, assigned to nobody

[2020-07-14 06:03] #3137 closed, assigned to nobody

[2020-07-14 06:41] sekayasin opened #3175 "An Authentication error occurred - github auth okd 3.11"
I enabled github Auth for okd 3.11, on logging in with github, after a user permits github, on redirection to the okd url I get _an Authentication error occurred_ any pointers or hints on this Thanks in Advance
![Screenshot 2020-07-14 at 09 34 45](https://user-images.githubusercontent.com/1706572/87392611-80dde680-c5b5-11ea-880c-c5f90a6dca5d.png)

[2020-07-14 13:23] spadgett commented on #3175
cc @stlaz

[2020-07-14 13:30] stlaz commented on #3175
You may want to:
1. check the API server logs for any authentication-related failures, post them if they don't make sense to you
2. check your master-config.yaml and the client_id/client_secret credentials, make sure they match

[2020-07-15 01:52] sekayasin commented on #3175
@stlaz
here are the API server logs for any authentication-related failures

FYI: I'm testing this locally, I have an entry in my Local PC hosts file `10.156.105.115 my-okd-url.com`
OKD 3.11 installation was successful, i can add users via htpasswd, and i can reach my web console via https://my-okd-url.com , no certs configured at the moment, connection not secure, added browser security exception

[2020-07-16 11:43] sekayasin commented on #3175
This finally worked! as the logs depicts an `i/o timeout`, on trying again to login via github, it finally logged my github user in.
Doing `oc get users`, i would see my github user.

[2020-07-16 11:43] #3175 closed, assigned to nobody

[2020-07-16 11:54] stlaz commented on #3175
\o/
looking at the logs reveals that your DNS server was broken (for whatever reason):
[code]

[2020-07-16 21:58] thilagak opened #3176 "Scaled down POD metrics missing in Openshift console"
At the start of the day, I did a deployment of my application with 5PODs. All were running healthy and serving traffic, which I was able to verify in the Openshift console metrics. In the evening, I scaled down the PODs count to 1 and after that, in the console metrics, my deployment status is showing that only one POD was running from the beginning of the deployment. Is that a known issue?

[2020-07-24 12:39] arogic commented on #3072
Hi,

I encounter the same issue. It is really frustrating to not be able to find a workaround or fix.

[code]

Server https://192.168.0.70:8443
kubernetes v1.11.0+d4cacc0

From the output above you can see that it tells me that openshift webconsole suppose to run on the IP Address of the Pysical Server, but when I try to access the webconsole from another PC I get redirected to https://127.0.0.1:8

[2020-08-07 17:09] jwforres commented on #324
/close

[2020-08-07 17:09] #324 closed

[2020-08-07 17:10] jwforres commented on #13
/close

[2020-08-07 17:10] #13 closed

[2020-08-07 19:22] #213 closed

[2020-08-10 13:21] jwforres commented on #1384
/close

[2020-08-10 13:21] #1384 closed

[2020-08-10 13:21] #832 closed

[2020-08-10 13:22] #129 closed

[2020-08-10 13:23] #1227 closed

[2020-08-10 13:24] #128 closed

[2020-08-10 13:25] jwforres commented on #754
/close

[2020-08-10 13:25] #754 closed

[2020-08-10 13:28] jwforres commented on #135
/close

[2020-08-10 13:28] #135 closed

[2020-08-10 13:39] jwforres commented on #1192
/close

[2020-08-10 13:39] #1192 closed

[2020-08-10 13:40] jwforres commented on #522
/close

[2020-08-10 13:41] #522 closed

[2020-08-10 13:42] jwforres commented on #548
/close

[2020-08-10 13:44] #548 closed

[2020-08-10 13:45] jwforres commented on #1070
/close

[2020-08-10 13:46] #1070 closed

[2020-08-10 13:47] spadgett commented on #1121
Closing as 3.x is in maintenance only mode. In 4.x, we use prettier.

[2020-08-10 13:47] #1121 closed

[2020-08-10 14:04] jwforres commented on #3157
This repository is for the openshift management console used in OpenShift versions 3.0 - 3.11, not used for the openshift.com website. If this is about a hosted version of OpenShift, the authentication options are configured by that administrator.

[2020-08-10 14:04] #3157 closed, assigned to nobody

[2020-08-10 14:21] #1709 closed

[2020-08-10 14:21] #1857 closed

[2020-08-10 14:21] #1886 closed

[2020-08-10 14:21] #1916 closed

[2020-08-10 14:21] #1917 closed

[2020-08-10 14:21] #1924 closed

[2020-08-10 14:21] #1969 closed

[2020-08-10 14:21] #2038 closed

[2020-08-10 14:21] #2114 closed

[2020-08-10 14:21] #2280 closed

[2020-08-10 14:21] #2289 closed

[2020-08-10 14:21] #2438 closed

[2020-08-10 14:21] #2455 closed

[2020-08-10 14:21] #2502 closed

[2020-08-10 14:21] #2632 closed

[2020-08-10 14:21] #2654 closed

[2020-08-10 14:21] #2725 closed

[2020-08-10 14:21] #2727 closed

[2020-08-10 14:21] #2733 closed

[2020-08-10 14:21] #2770 closed

[2020-08-10 14:21] #2834 closed

[2020-08-10 14:21] #2865 closed

[2020-08-10 14:21] #2977 closed

[2020-08-10 14:21] #2991 closed

[2020-08-10 14:21] #2995 closed

[2020-08-10 14:22] #34 closed

[2020-08-10 14:22] #317 closed

[2020-08-10 14:22] #318 closed

[2020-08-10 14:22] #659 closed

[2020-08-10 14:22] #872 closed

[2020-08-10 14:22] #1095 closed

[2020-08-10 14:22] #1185 closed

[2020-08-10 14:22] #1438 closed

[2020-08-10 14:22] #1607 closed

[2020-08-10 20:38] #1481 closed

[2020-08-12 14:44] #1885 closed

[2020-08-12 14:45] #1911 closed

[2020-08-13 17:50] #1063 closed

[2020-08-14 08:24] #1995 closed

[2020-08-17 10:23] jeff-phillips-18 commented on #2221
/close

[2020-08-17 10:24] #2221 closed

[2020-08-18 15:10] #2754 closed

[2020-08-19 16:05] jwforres commented on #2868
/close

[2020-08-19 16:06] #2868 closed

[2020-08-20 23:12] #2947 closed

[2020-08-21 13:08] #2979 closed, assigned to jhadvig

[2020-08-21 15:44] odra commented on #2985
closing due to being old.

[2020-08-24 12:56] #881 closed

[2020-08-24 13:03] #2928 closed

[2020-08-24 13:03] #3015 closed

[2020-08-24 13:17] #2999 closed

[2020-08-24 16:27] spadgett commented on #3063
Hi, this is now possible in OpenShift 4.5. See https://github.com/openshift/console/pull/4931

For 3.x, unfortunately you will have to still edit the YAML. We don't plan to backport this change at this time.

[2020-08-24 16:27] #3063 closed

[2020-08-24 16:52] #2872 closed

[2020-08-24 16:52] #2772 closed

[2020-08-24 16:53] #1974 closed

[2020-08-24 16:53] #2649 closed

[2020-08-24 16:56] #2673 closed

[2020-08-24 16:57] spadgett commented on #2538
This has been addressed in 4.x. At this time, we don't plan to rework the 3.11 catalog experience.

[2020-08-24 16:57] #2538 closed

[2020-08-24 17:01] #1942 closed

[2020-08-24 17:01] #1861 closed

[2020-08-24 17:01] #2489 closed

[2020-08-24 17:23] #2449 closed

[2020-08-24 17:25] #2100 closed

[2020-08-24 17:26] #1684 closed

[2020-08-24 17:26] #1685 closed

[2020-08-24 17:27] #1750 closed

[2020-08-24 17:27] #2105 closed

[2020-08-24 17:27] #2091 closed

[2020-08-24 17:32] #1879 closed

[2020-09-03 18:08] #2758 closed

[2020-09-11 08:03] olaf-meyer commented on #3031
Is this still relevant or should I close the issue?

[2020-09-17 19:37] spadgett commented on #2732
We've improved the experience in the 4.x console. See https://github.com/openshift/console/pull/2214

/close

[2020-09-17 19:37] #2732 closed

[2020-09-22 20:09] spadgett commented on #150
4.x moves the icon to the left.

/remove-lifecycle stale
/close

[2020-09-22 20:10] #150 closed

[2020-09-22 20:12] #2123 closed

[2020-10-07 13:27] #2180 closed

[2020-10-07 15:00] spadgett commented on #3168
Closing as this is fixed in the latest 3.11.

/remove-lifecycle stale
/close

[2020-10-07 15:00] #3168 closed, assigned to nobody

[2020-10-11 00:19] #1689 closed

[2020-10-11 15:27] serenamarie125 commented on #3031
@christianvogt is this still an issue?  Thanks

[2020-10-11 18:22] #1910 closed

[2020-10-12 06:24] #1925 closed

[2020-10-12 12:27] #1889 closed

[2020-10-13 06:40] #3125 closed, assigned to nobody

[2020-10-13 14:30] christianvogt commented on #3031
@serenamarie125 the behavior today is still the same and we only list those available in the openshift namespace providing the user has permission to list them.

[2020-10-13 18:30] #1960 closed

[2020-10-13 18:30] #2290 closed

[2020-10-14 12:32] #2490 closed

[2020-10-14 18:33] #620 closed

[2020-10-15 06:34] #2530 closed

[2020-10-15 12:36] #2433 closed

[2020-10-19 18:51] #336 closed

[2020-10-19 18:51] #2217 closed

[2020-10-21 06:57] #2932 closed

[2020-10-21 12:59] #2957 closed

[2020-10-22 00:59] #2982 closed

[2020-10-22 07:01] #2990 closed

[2020-10-22 13:01] #2997 closed

[2020-10-23 13:05] #3027 closed

[2020-10-23 13:05] #3029 closed

[2020-10-24 07:07] #2884 closed

[2020-10-26 13:16] #3085 closed, assigned to nobody

[2020-10-27 07:19] #3089 closed, assigned to nobody

[2020-10-27 07:19] #3090 closed, assigned to nobody

[2020-10-30 19:30] #3008 closed

[2020-11-03 13:45] #3122 closed, assigned to nobody

[2020-11-06 13:55] #2835 closed

[2020-11-06 13:56] #2045 closed

[2020-11-06 19:56] #1927 closed

[2020-11-06 19:56] #490 closed

[2020-11-06 19:56] #696 closed

[2020-11-10 08:09] #3129 closed, assigned to nobody

[2020-11-10 08:09] #3130 closed, assigned to nobody

[2020-11-11 14:13] #3133 closed, assigned to nobody

[2020-11-11 20:15] #3134 closed, assigned to nobody

[2020-11-12 20:17] #3031 closed

[2020-11-14 02:22] #3141 closed, assigned to nobody

[2020-11-14 20:25] #3144 closed, assigned to nobody

[2020-11-14 20:25] #3145 closed, assigned to nobody

[2020-11-19 08:43] #2250 closed

[2020-11-20 08:49] #3154 closed, assigned to nobody

[2020-11-26 03:11] #3165 closed, assigned to nobody

[2020-11-27 21:18] #3167 closed, assigned to nobody

[2020-12-14 07:55] klaus-halfmann opened #3177 "Do not reveal information on error pages and when not authenticated"
As of some security assessment we found that the console will reveal a lot of information even when showing
an error page or even when use is not authenticated. E.g. I found:
    <script type="text/javascript">
window.SERVER_FLAGS = {
	"consoleVersion":"v6.0.6-10295-g53a543b19",
	"authDisabled":false,
	"kubectlClientID":"",
	"basePath":"/",
	"loginURL":"https://console-openshift-console...",
	"log

[2020-12-22 11:45] klaus-halfmann opened #3178 "Where can I configure the session cookies to be non-persistent?"
As of a security Assessment we must make the openshift session cookies non-persistent.
And valid for a maximum of 12 hours.

Please give me a hint wher and how in openshift I may configure this.

The docs at e.g. https://docs.openshift.com/container-platform/4.6/rest_api/config_apis/console-config-openshift-io-v1.html do not help me in any way

With openshift 4.6 some aspectes of the cookie can be

[2020-12-27 17:09] #3176 closed, assigned to nobody

[2020-12-29 23:17] #3072 closed, assigned to nobody

[2021-01-22 06:45] #3032 closed

[2021-02-08 07:50] #1780 closed

[2021-02-10 11:15] #2042 closed

[2021-02-15 17:17] rabb1t opened #3179 "Please update docker image to last version on DockerHub"
Hi,

Is there any plans to include the [fix](https://github.com/openshift/origin-web-console/pull/3173)  of [CVE-2020-10715](https://bugzilla.redhat.com/show_bug.cgi?id=1767665) into the [docker hub image](https://hub.docker.com/r/openshift/origin-web-console)?
As far as I can see the image build is still from Oct-2018:
[code]

Thank you!

[2021-02-15 18:01] spadgett commented on #3179
Hi, unfortunately no one in the community is producing OKD 3 builds. I'd encourage you to move to OKD 4 if possible. See this email for more background:

http://lists.openshift.redhat.com/openshift-archives/users/2021-January/msg00006.html

It is possible for you to build a new console image using the instructions here:

https://github.com/openshift/origin-web-console-server/#building

[2021-02-21 18:21] Kahuna26 opened #3180 "Webconsole Installing and Running an All-in-One Server"
Hi,

- install url: https://docs.okd.io/3.11/getting_started/administrators.html#installation-method

After installing the All-in-One Server i get the error below while trying to access the console:

[code]

The documentation suggested that a console should be available after the install guide. (just like the all-in-one-server1.4.*)
Am i missing some steps or is this part removed?

[2021-02-22 15:27] spadgett commented on #3180
Hi, unfortunately running OpenShift this way does not install the web console since it is no longer part of the master. It now runs as a pod on the platform. You'll need to use `oc cluster up` instead.

https://github.com/openshift/origin/blob/release-3.11/docs/cluster_up_down.md

This appears to be a documentation bug in 3.11 since console does not support this method of starting OpenShift.

@aha

[2021-03-16 15:57] spadgett commented on #3177
Hi, sorry for the delay in responding. https://github.com/openshift/console is probably the repo you meant.

Version information is available outside of the console using the API server version endpoint. We've previously had a Bugzilla on this (https://bugzilla.redhat.com/show_bug.cgi?id=1437573), but we have opted not to change this for the following reasons:

* Upstream Kubernetes' stance is tha

[2021-03-16 15:57] #3177 closed, assigned to nobody

[2021-03-16 17:29] klaus-halfmann commented on #3177
OK, I will tell our Security People ....

[2021-03-19 14:35] spadgett commented on #3178
Hi, sorry for the delayed response. For 4.6, you should open issues in the openshift/console repo. This is the repo for the 3.x console.

You can configure the OAuth access token duration using this procedure:

https://docs.openshift.com/container-platform/4.6/authentication/configuring-internal-oauth.html#oauth-configuring-internal-oauth_configuring-internal-oauth

That will not change the expira

[2021-03-19 14:35] #3178 closed, assigned to nobody

[2021-07-17 13:58] #3179 closed, assigned to nobody

[2021-07-24 14:05] #3180 closed, assigned to nobody